<ng-container *ngIf="isLayoutHorizontal; else layoutVertical">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
            <label *ngIf="label !== ''" class="form-label fw-semibold m-0"
            >{{ label }}
                <span *ngIf="isMandatory && !control.disabled" class="text-danger"
                >*</span
                ></label
            >
        </div>
        <div class="col-lg-6">
            <div [class.input-group]="units !== null && units !== ''">
                <input
                        class="form-control"
                        [type]="type"
                        [placeholder]="placeholder"
                        [readOnly]="readOnly"
                        [mask]="maskFormat"
                        [suffix]="maskSuffix"
                        [dropSpecialCharacters]="dropMaskInValue"
                        [min]="minDate"
                        [max]="maxDate"
                        [formControl]="control"
                        [tabIndex]="tabIndex"
                        [ngClass]="{
          'is-invalid':
            ((control.touched && control.dirty) || isFormSubmitted) &&
            control.errors
        }"
                        [ngStyle]="{ 'text-align': alignRight ? 'end' : 'start' }"
                        (dblclick)="emitOnInputClick ? emitInputClick() : null"
                        enterToTab
                />
                <div class="input-group-append"  [class.d-none]="units === undefined || units === null || units === ''">
                    <span class="input-group-text btn-secondary">{{ units }}</span>
                </div>
            </div>
            {{ units === null || units === '' }}
            <!-- style="text-transform: uppercase" -->
            <!-- [formControlName]="controlName" -->
        </div>
    </div>
</ng-container>

<ng-template #layoutVertical>
    <label *ngIf="label !== ''" class="form-label"
    >{{ label }}
        <span *ngIf="isMandatory && !control.disabled" class="text-danger"
        >*</span
        ></label
    >
    <div [class.input-group]="units !== null && units !== ''">
        <input
                class="form-control"
                [type]="type"
                [placeholder]="placeholder"
                [readOnly]="readOnly"
                [mask]="maskFormat"
                [suffix]="maskSuffix"
                [dropSpecialCharacters]="dropMaskInValue"
                [min]="minDate"
                [max]="maxDate"
                [formControl]="control"
                [tabIndex]="tabIndex"
                [ngClass]="{
      'is-invalid':
        ((control.touched && control.dirty) || isFormSubmitted) &&
        control.errors
    }"
                [ngStyle]="{ 'text-align': alignRight ? 'end' : 'start' }"
                (dblclick)="emitOnInputClick ? emitInputClick() : null"
                (keyup)="
      uppercased || titlecased || firstLetterUppercased ? onChange() : null
    "
        />
        <div class="input-group-append" [class.d-none]="units === undefined || units === null || units === ''">
            <span class="input-group-text btn-secondary">{{ units }}</span>
        </div>
    </div>
    <!-- style="text-transform: capitalize" -->
</ng-template>

<!-- FOR YUP INTEGRATION -->
<ng-container
        *ngIf="(control.touched || control.dirty) && control.errors !== null && control.errors?.['yup'] !== undefined">
    <div class="invalid-feedback display">
        {{ control.errors['yup'] }}
    </div>
</ng-container>
