<label class="form-label"
  >{{ label }} <span *ngIf="isMandatory" class="text-danger">*</span></label
>
<input
  class="form-control"
  [type]="type"
  [placeholder]="placeholder"
  [readOnly]="readOnly"
  [formControl]="control"
  [ngClass]="{
    'is-invalid': control.touched && control.dirty && control.errors
  }"
/>

<!-- [mask]="format"
  [dropSpecialCharacters]="false" -->

<ng-container *ngIf="control.touched && control.dirty">
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Ce champ est obligatoire.
  </div>

  <div *ngIf="control.errors?.['min']" class="invalid-feedback">
    Ce champ doit être supérieur ou égale à {{ control.errors?.['min']['min'] }}
  </div>
  <div *ngIf="control.errors?.['max']" class="invalid-feedback">
    Ce champ doit être inférieur ou égale à {{ control.errors?.['max']['max'] }}
  </div>
</ng-container>
