<ng-container *ngIf="isLayoutHorizontal; else layoutVertical">
  <div class="row">
    <div class="col-lg-6 d-flex align-items-center">
      <label *ngIf="label !== ''" class="form-label m-0"
        >{{ label }}
        <span *ngIf="isMandatory && !control.disabled" class="text-danger"
          >*</span
        ></label
      >
    </div>
    <div class="col-lg-6">
      <input
        class="form-control"
        [type]="type"
        [placeholder]="placeholder"
        [readOnly]="readOnly"
        [mask]="maskFormat"
        [suffix]="maskSuffix"
        [dropSpecialCharacters]="false"
        [min]="minDate"
        [max]="maxDate"
        [formControl]="control"
        [ngClass]="{
          'is-invalid':
            ((control.touched && control.dirty) || isFormSubmitted) &&
            control.errors
        }"
        [ngStyle]="{ 'text-align': alignRight ? 'end' : 'start' }"
      />
      <!-- [formControlName]="controlName" -->
    </div>
  </div>
</ng-container>

<ng-template #layoutVertical>
  <label *ngIf="label !== ''" class="form-label"
    >{{ label }}
    <span *ngIf="isMandatory && !control.disabled" class="text-danger"
      >*</span
    ></label
  >
  <input
    class="form-control"
    [type]="type"
    [placeholder]="placeholder"
    [readOnly]="readOnly"
    [mask]="maskFormat"
    [suffix]="maskSuffix"
    [dropSpecialCharacters]="false"
    [min]="minDate"
    [max]="maxDate"
    [formControl]="control"
    [ngClass]="{
      'is-invalid':
        ((control.touched && control.dirty) || isFormSubmitted) &&
        control.errors
    }"
    [ngStyle]="{ 'text-align': alignRight ? 'end' : 'start' }"
  />
</ng-template>

<ng-container *ngIf="(control.touched && control.dirty) || isFormSubmitted">
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Ce champ est obligatoire.
  </div>

  <div *ngIf="control.errors?.['email']" class="invalid-feedback">
    Veuillez saisir un email valide.
  </div>

  <div *ngIf="control.errors?.['min']" class="invalid-feedback">
    Ce champ doit être supérieur ou égale à
    {{ control.errors?.['min']['min'] }}.
  </div>

  <div *ngIf="control.errors?.['max']" class="invalid-feedback">
    Ce champ doit être inférieur ou égale à
    {{ control.errors?.['max']['max'] }}.
  </div>

  <div
    *ngIf="(control.errors?.['mask'] && type == 'tel')"
    class="invalid-feedback"
  >
    Veuillez vérifier le format du numéro. Le numéro doit comporter 8 chiffres.
  </div>
</ng-container>
