<div class="vh-100 w-100 d-flex justify-content-center align-items-center pb-5">
  <!-- style="backdrop-filter: blur(10px)" -->
  <div class="row">
    <div class="col-md-12">
      <!-- <button
        type="button"
        class="btn btn-outline-dark btn-label waves-effect waves-light me-5"
        (click)="goToSec()"
      >
        <i class="ri-pencil-fill label-icon align-middle fs-16 me-2"></i>
        SECRETARIAT
      </button> -->

      <button class="btn btn-outline-dark me-5" (click)="goToSec()">
        SECRETARIAT
      </button>

      <button class="btn btn-outline-dark me-5" (click)="goToMed()">
        BASE MEDICALE
      </button>

      <button class="btn btn-outline-dark me-5" (click)="goToHospit()">
        HOSPITALISATION
      </button>

        <button class="btn btn-outline-dark me-5" (click)="goToCR()">
            COMPTE RENDU
        </button>
    </div>
  </div>
</div>
