<div class="row">
  <div class="col-md-12">
    <h5 class="fw-semibold">Interventions Chirurgicales</h5>
  </div>
  <div class="col-md-4">
    <div class="row">

      <div class="col-md-12 mb-3">
        <h-select label="Type médecin" [isMandatory]="true" [options]="type_meds" [control]="type_med"></h-select>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <h-select label="Médecin" [isMandatory]="true" [options]="medecins" [control]="medecin" [bindLabel]="'fullname'"
        [bindValue]="'matricule'"></h-select>
    </div>

    <div class="col-md-12 mb-3">
      <h-input label="Coefficient" type="number" [isMandatory]="true" [control]="coefficient"></h-input>
    </div>

    <div class="col-md-12 mb-3">
      <h-input label="Titre intervention" type="text" [isMandatory]="true" [control]="title"></h-input>
    </div>

    <div class="col-md-12 mb-3">
      <h-input label="Date" type="date" [isMandatory]="true" [control]="date_op"></h-input>
    </div>

    <div class="col-md-12 mb-3">
      <app-text [rows]="3" label="Note" [control]="comment"></app-text>
    </div>

    <div class="form-check form-check-right mb-3">
      <input class="form-check-input" type="checkbox" name="formCheckboxRight" id="formCheckboxRight1"
        [formControl]="frais">
      <label class="form-check-label fw-semibold" for="formCheckboxRight1">
        Ajouter les frais d'opération connexes
      </label>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-12">
      <div class="table-responsive fiche-comptable">
        <table class="table table-bordered align-middle mb-0">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Coéfficient</th>
              <th scope="col">Médecin</th>
              <th scope="col">Externe</th>
              <th scope="col">Titre</th>
              <th scope="col">Frais connexes</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of interventions; let i = index">
              <td>{{ item.date_op | date : "dd/MM/yyyy"}}</td>
              <td>{{ item.coef }}</td>
              <td>{{ item.medecin.nom + ' ' + item.medecin.prenoms }}</td>
              <td>{{ item.med_type }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.frais === 1 ? 'Oui' : 'Non' }}</td>
              <td> <i class="ri-delete-bin-2-fill text-center local-red cursor-pointer"
                (click)="deleteRecord(item.id)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">
    <button type="button" class="btn btn-success btn-label right" (click)="confirmAction()">
      <i class="ri-save-2-fill label-icon align-middle fs-16 ms-2"></i>
      ENREGISTRER
    </button>
  </div>
</div>