<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div class="d-flex tab">
                <div class="mr-1"><button class="btn btn-secondary w-100" (click)="open(paracliniqueModal)">Paraclinique</button></div>
                <div class="mr-1"><button class="btn btn-secondary w-100 ">Traitement</button></div>
                <div class="mr-1"><button class="btn btn-secondary w-100 ">Suivi quotidien</button></div>
            </div>
            <div class="text-right copy-paste"><span (click)="openFullModal()">Agrandir le texte</span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <app-text placeholder="..." [rows]="5" [control]="phrase" [readOnly]="true"></app-text>
            </div>
        </div>
    </div>
</div>

<ng-template #fullTextArea let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-full-modal">Paraclinique</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body enterToTab" enterToTab>
        <div class="row">
            <div class="col-12">
                <app-text placeholder="..." [rows]="20" [control]="phrase" [readOnly]="true" [fontSize]="'1.2rem'"></app-text>
            </div>
        </div>
    </div>
</ng-template>

<!-- PARACLINIQUE MODAL -->
<ng-template #paraclinique let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Paraclinique </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body enterToTab" enterToTab>
        <div class="row" *ngFor="let section of paracliniqueFields">
            <div class="col-12" *ngIf="section.groupName === undefined">
                <div class="row mb-3">
                    <div *ngFor="let input of section.template" class="{{ 'col-' + input.col }}"
                         [class.px-0]="input.padding !== undefined && !input.padding"
                         [class.d-none]="!input.show">
                        <multi-input [config]="input" [group]="fg"
                        ></multi-input>
                    </div>
                    <div class="col-12 mb-4" style="margin-top: 5px; font-style: italic;">
                        {{ translate(section) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- for tabs implementation  -->
        <div class="row" *ngIf="paracliniqueTabs.length > 0">
            <div class="col-12">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item" *ngFor="let groupSection of paracliniqueTabs">
                        <a class="nav-link" [class.active]="paracliniqueTabs.indexOf(groupSection) === 0"
                           data-bs-toggle="tab" [href]="'#'+sluTheName(groupSection.name)"
                           role="tab" aria-selected="false">
                            {{ groupSection.section.groupName }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content text-muted">
                    <div class="tab-pane"
                         [class.active]="paracliniqueTabs.indexOf(groupSection) === 0"
                         *ngFor="let groupSection of paracliniqueTabs"
                         [id]="sluTheName(groupSection.name)"  role="tabpanel">
                        <div class="row mb-3">
                            <div *ngFor="let input of groupSection.section.template" class="{{ 'col-' + input.col }}"
                                 [class.px-0]="input.padding !== undefined && !input.padding"
                                 [class.d-none]="!input.show"
                                 [class.d-flex]="input.type === 'label'"
                                 [class.align-items-center]="input.type === 'label'"
                            >
                                <multi-input [config]="input" [group]="fg"
                                ></multi-input>
                            </div>
                            <div class="col-12 mb-4" style="margin-top: 5px; font-style: italic;">
                                {{ translate(groupSection.section) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-primary" (click)="validate()">Enregistrer</button>
        </div>
    </div>
</ng-template>