<app-simple-modal title="Coefficient social">
  <div class="row">
    <div class="col-md-6">
      <app-select label="NBE"> </app-select>
    </div>
    <div class="col-md-6">
      <app-input label="SMF"> </app-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-select label="NIM"> </app-select>
    </div>
    <div class="col-md-6">
      <app-input label="MNI"> </app-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-select label="NIP"> </app-select>
    </div>
    <div class="col-md-6">
      <app-select label="MF"> </app-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <app-select label="PF"> </app-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <app-select label="ASS"> </app-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <app-select label="IMV"> </app-select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-input label="Coefficient social" [isLayoutHorizontal]="true">
      </app-input>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <app-input> </app-input>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button type="button" class="btn btn-success btn-label">
      <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>
      Enregistrer
    </button>
  </div>
</app-simple-modal>
