<div class="row">
    <div class="col-md-12"><h5 class="fw-semibold">Transfusé(e)</h5></div>
    <div class="col-md-2 mb-3">
      <app-select
        [isMandatory]="true"
        [clearable]="false"
        [options]="displayOptions"
        [bindValue]="'value'"
        [control]="showControl"
      ></app-select>
    </div>
    <div class="col-md-12" *ngIf="showControl.value">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 mb-3">
              <app-input
                label="Provenance"
                type="text"
                [isMandatory]="true"
              ></app-input>
            </div>
  
            <div class="col-md-12 mb-3">
                <app-select
                  label="Donneur"
                  [isMandatory]="true"
                  [options]="[]"
                ></app-select>
              </div>

              <div class="col-md-12 mb-3">
                <app-select
                  label="Receveur"
                  [isMandatory]="true"
                  [options]="[]"
                ></app-select>
              </div>

            <div class="col-md-12 mb-3">
              <app-input
                label="Taux d'hémoglobine"
                type="text"
                [isMandatory]="true"
              ></app-input>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 mb-3">
              <app-input
                label="Date"
                type="date"
                [isMandatory]="true"
              ></app-input>
            </div>
            <div class="col-md-12 mb-3">
              <app-input
                label="Motif"
                type="text"
                [isMandatory]="true"
              ></app-input>
            </div>
            <div class="col-md-12 mb-3">
              <label for="comments" class="form-label">Commentaires </label>
              <textarea
                class="form-control"
                placeholder="..."
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  