<!-- <div class="modal-header border-bottom border-1 border-dark">
  <h5 class="modal-title">Détails de la facture</h5>
  <button
    type="button"
    class="btn-close btn-danger"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.close('Close click')"
  ></button>
</div> -->

<app-simple-modal
  title="Détails de la facture"
  [isFullscreenControlDisplayed]="false"
>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive table-card">
        <table
          class="table table-one-liner table-hover table-striped table-bordered align-middle mb-0"
        >
          <thead class="table-light text-muted">
            <tr>
              <!-- <th scope="col">{{ "Rubrique" }}</th> -->
              <th scope="col">{{ "Activité" }}</th>
              <th scope="col">{{ "Montant" }}</th>
              <th scope="col">{{ "Payé" }}</th>
              <th scope="col">{{ "PEC" }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="user-select-none">
              <td>
                <ng-container
                  *ngFor="
                    let act of invoice.prestation.tarifs;
                    index as i;
                    count as c
                  "
                >
                  <span>
                    {{ act.libelle }}
                  </span>
                  <b *ngIf="i !== c - 1"> * </b>
                </ng-container>
              </td>
              <td>{{ invoice.total }}</td>
              <td>{{ invoice.total - invoice.creance.montant }}</td>
              <td>{{ invoice.montant_pec }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-simple-modal>

<!-- <div class="modal-body"></div>

<div class="modal-footer py-1 border-top border-1 border-dark">
  <a
    href="javascript:void(0);"
    class="btn btn-link link-success fw-medium shadow-none"
    data-bs-dismiss="modal"
    (click)="modal.close('Close click')"
    ><i class="ri-close-line me-1 align-middle"></i>Fermer</a
  >
</div> -->
