<div class="col-md-12">
    <h5 class="fw-semibold">Fiche de synthèse</h5>
</div>
<div>

    <table class="table table-responsive table-bordered align-middle table-nowrap mb-0">
    <thead>
      <tr>
        <th scope="col" class="fixed-column des-title">N°</th>
        <th scope="col" class="text-left">Désignation</th>
        <th scope="col" class="text-center">Qte</th>
        <th scope="col" class="text-right">Prix Unitaire</th>
        <th scope="col" class="text-right">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list" [class.category]="item.categ === 1">
        <td>{{ item.num }}</td>
        <td>{{ item.name }}</td>
        <td class="text-center">{{ item.qte }}</td>
        <td class="text-right">{{ item.pu  | mask : "separator" }}</td>
        <td class="text-right">{{ item.total  | mask : "separator" }}</td>
      </tr>
    </tbody>
  </table>

</div>