<label class="form-label"
  >{{ label }}
  <span *ngIf="isMandatory && !control.disabled" class="text-danger"
    >*</span
  ></label
>

<ng-select
  addTagText="Ajouter"
  notFoundText="Aucun résultat"
  [items]="options"
  bindLabel="text"
  [editableSearchTerm]="true"
  [addTag]="canAddOption ? addTagFn : false"
  [placeholder]="placeholder"
  [selectOnTab]="true"
  [formControl]="control"
  [ngClass]="{
    'is-invalid custom-select-invalid':
      ((control.touched && control.dirty) || isFormSubmitted) && control.errors
  }"
>
  <ng-template ng-label-tmp let-item="item">
    <span>{{ item.text }}</span>
  </ng-template>
  <ng-template
    ng-option-tmp
    let-item="item"
    let-index="index"
    let-search="searchTerm"
  >
    <span [ngClass]="{ 'text-warning': item.new }" class="text-warning">{{
      item.text
    }}</span>
    <!-- [ngOptionHighlight]="search" -->
  </ng-template>
</ng-select>

<ng-container *ngIf="(control.touched && control.dirty) || isFormSubmitted">
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Veuillez sélectionner une valeur.
  </div>
</ng-container>

<!-- OLD -->

<!-- <label class="form-label"
  >{{ label }}
  <span *ngIf="isMandatory && !control.disabled" class="text-danger"
    >*</span
  ></label
>

<select
  class="form-select"
  [formControl]="control"
  [ngClass]="{
    'is-invalid':
      ((control.touched && control.dirty) || isFormSubmitted) && control.errors
  }"
>
  <option value="" [disabled]="isMandatory">{{ defaultOption }}</option>
  <option *ngFor="let option of options; index as i" [value]="option.id">
    {{ option.text }}
  </option>
</select>

<ng-container *ngIf="(control.touched && control.dirty) || isFormSubmitted">
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Veuillez sélectionner une valeur.
  </div>
</ng-container> -->
