<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Nouveau patient</h4>
      </div>
      <!-- end card header -->
      <div class="card-body form-steps">
        <div class="vertical-navs-step">
          <div class="row gy-5">
            <div class="col-lg-3">
              <div role="tablist" aria-orientation="vertical">
                <ul
                  ngbNav
                  #customNav="ngbNav"
                  [(activeId)]="activeStep"
                  (navChange)="onNavChange($event)"
                  class="nav flex-column custom-nav nav-pills"
                  role="tablist"
                >
                  <!-- GENERAL INFORMATIONS FORM -->
                  <li [ngbNavItem]="1" class="nav-item">
                    <a
                      ngbNavLink
                      class="nav-link"
                      [ngClass]="{
                        done:
                          isGeneralInfoFormSubmitted &&
                          generalInfoForm.valid &&
                          activeStep !== 1
                      }"
                      data-bs-toggle="tab"
                      role="tab"
                    >
                      <span class="step-title me-2">
                        <i class="ri-close-circle-fill step-icon me-2"></i>
                        Etape 1
                      </span>
                      Informations générales
                    </a>
                    <ng-template ngbNavContent>
                      <div>
                        <h5>Informations générales</h5>
                        <p class="text-muted">
                          Veuillez fournir les informations suivantes
                          <br />
                          <em
                            >Les champs marqués par
                            <span class="text-danger">*</span> sont
                            obligatoires</em
                          >
                        </p>
                      </div>

                      <hr />

                      <form [formGroup]="generalInfoForm">
                        <div class="row g-3">
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Nom"
                                placeholder="Sasir le nom du patient"
                                [isMandatory]="true"
                                [control]="lastNameControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Prénom(s)"
                                placeholder="Saisir le(s) prénom(s) du patient"
                                [isMandatory]="true"
                                [control]="firstNameControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Sexe"
                                [isMandatory]="true"
                                [options]="['Masculin', 'Féminin']"
                                [control]="genderControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Date de naissance"
                                type="date"
                                [isMandatory]="true"
                                [control]="dateOfBirthControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Âge"
                                [readOnly]="true"
                                [control]="ageControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Lieu de naissance"
                                placeholder="Saisir le lieu de naissance"
                                [control]="birthPlaceControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Téléphone"
                                placeholder="XX XX XX XX"
                                [control]="patientTel1Control"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Email"
                                placeholder="test@example.org"
                                [control]="patientEmailControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="row g-1 mb-3">
                              <div class="col-4">
                                <app-select
                                  label="Type"
                                  [options]="['CNI', 'Passeport', 'Autres']"
                                  [control]="idTypeControl"
                                  [isFormSubmitted]="isGeneralInfoFormSubmitted"
                                ></app-select>
                              </div>
                              <div class="col-8">
                                <app-input
                                  label="N° Pièce"
                                  placeholder="N° de la pièce d'identité"
                                  [control]="idNumberControl"
                                  [isFormSubmitted]="isGeneralInfoFormSubmitted"
                                >
                                </app-input>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Pays d'origine"
                                [isMandatory]="true"
                                [options]="[
                                  'BENIN',
                                  'GHANA',
                                  'TOGO',
                                  'CÔTE D\'IVOIRE',
                                  'CAMEROUN',
                                  'NIGERIA'
                                ]"
                                [control]="homelandControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Profession"
                                [options]="[
                                  'Ingénieur',
                                  'Commerçant',
                                  'Médecin',
                                  'Chômeur'
                                ]"
                                [control]="professionControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Assuré ?"
                                [isMandatory]="true"
                                [options]="[
                                  'Non - Le patient est un local',
                                  'Non - Le patient est un étranger',
                                  'Oui - Il s\'agit d\'une assurance locale',
                                  'Oui - Il s\'agit d\'une assurance étrangère'
                                ]"
                                [control]="hasInsuranceControl"
                                [isFormSubmitted]="isGeneralInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="d-flex align-items-start gap-3 mt-4">
                        <button
                          type="button"
                          class="btn btn-success btn-label right ms-auto nexttab nexttab"
                          data-nexttab="v-pills-bill-address-tab"
                          (click)="stepNavigateFromTo(1,2)"
                        >
                          <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
                          ></i
                          >Continuer
                        </button>
                      </div>
                    </ng-template>
                  </li>

                  <!-- INSURANCE INFORMATIONS FORM -->
                  <li [ngbNavItem]="2" class="nav-item">
                    <a
                      ngbNavLink
                      class="nav-link"
                      [ngClass]="{
                        done:
                          isInsuranceInfoFormSubmitted &&
                          insuranceInfoForm.valid &&
                          activeStep !== 2
                      }"
                      data-bs-toggle="tab"
                      role="tab"
                    >
                      <span class="step-title me-2">
                        <i class="ri-close-circle-fill step-icon me-2"></i>
                        Etape 2
                      </span>
                      Informations assurance
                    </a>
                    <ng-template ngbNavContent>
                      <div>
                        <h5>Informations assurance</h5>
                        <p class="text-muted">
                          Veuillez fournir les informations suivantes
                          <br />
                          <em
                            >Les champs marqués par
                            <span class="text-danger">*</span> sont
                            obligatoires</em
                          >
                        </p>
                      </div>

                      <hr />

                      <form [formGroup]="insuranceInfoForm">
                        <div class="row g-3">
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Nom de l'assurance"
                                [isMandatory]="true"
                                [options]="[
                                  'ASCOMA',
                                  'GTA',
                                  'INAM',
                                  'GRAS SAVOYE'
                                ]"
                                [control]="insuranceControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Type de l'assurance"
                                [isMandatory]="true"
                                [options]="['Locale', 'Etrangère']"
                                [control]="insuranceTypeControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Taux de PEC"
                                placeholder="Taux de prise en charge du patient"
                                type="number"
                                [isMandatory]="true"
                                [control]="insuranceRateControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Employeur de l'assuré"
                                [options]="['BIDC', 'ARCEP', 'Autres']"
                                [control]="patientEmployerControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Date de début PEC"
                                type="date"
                                [control]="insuranceStartControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Date de fin PEC"
                                type="date"
                                [control]="insuranceEndControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Téléphone 1"
                                placeholder="XX XX XX XX"
                                [control]="insuranceTel1Control"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Téléphone 2"
                                placeholder="XX XX XX XX"
                                [control]="insuranceTel2Control"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Email"
                                placeholder="test@example.org"
                                [control]="insuranceEmailControl"
                                [isFormSubmitted]="isInsuranceInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="d-flex align-items-start gap-3 mt-4">
                        <button
                          type="button"
                          class="btn btn-light btn-label previestab"
                          data-previous="v-pills-bill-info-tab"
                          (click)="customNav.select(1)"
                        >
                          <i
                            class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                          ></i>
                          Retour
                        </button>
                        <button
                          type="button"
                          class="btn btn-success btn-label right ms-auto nexttab nexttab"
                          data-nexttab="v-pills-payment-tab"
                          (click)="stepNavigateFromTo(2,3)"
                        >
                          <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
                          ></i
                          >Continuer
                        </button>
                      </div>
                    </ng-template>
                  </li>

                  <!-- OTHER INFORMATIONS FORM -->
                  <li [ngbNavItem]="3" class="nav-item">
                    <a
                      ngbNavLink
                      class="nav-link"
                      [ngClass]="{
                        done:
                          isOtherInfoFormSubmitted &&
                          otherInfoForm.valid &&
                          activeStep !== 3
                      }"
                      data-bs-toggle="tab"
                      role="tab"
                    >
                      <span class="step-title me-2">
                        <i class="ri-close-circle-fill step-icon me-2"></i>
                        Etape 3
                      </span>
                      Autres informations
                    </a>
                    <ng-template ngbNavContent>
                      <div>
                        <h5>Autres informations</h5>
                        <p class="text-muted">
                          Ces informations sont complémentaires. Fournisssez-les
                          si vous les avez.
                        </p>
                      </div>

                      <hr />

                      <form [formGroup]="otherInfoForm">
                        <div class="row g-3">
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Adresse"
                                placeholder="Rue, appartement, n° maison"
                                [control]="patientAddressControl"
                                [isFormSubmitted]="isOtherInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Ville"
                                [options]="[
                                  'Lomé',
                                  'Kpalimé',
                                  'Ouagadougou',
                                  'Lagos',
                                  'Porto-Novo',
                                  'Accra'
                                ]"
                                [control]="cityControl"
                                [isFormSubmitted]="isOtherInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-select
                                label="Quartier"
                                [options]="[
                                  'Gbossimé',
                                  'Casablanca',
                                  'Avé Maria',
                                  'Autres'
                                ]"
                                [control]="neighborhoodControl"
                                [isFormSubmitted]="isOtherInfoFormSubmitted"
                              ></app-select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="mb-3">
                              <app-input
                                label="Autre contact"
                                placeholder="XX XX XX XX"
                                [control]="patientTel2Control"
                                [isFormSubmitted]="isOtherInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="mb-3">
                              <app-input
                                label="Personne à prévenir"
                                placeholder="Nom, prénom(s), contact, adresse"
                                [control]="personToContactControl"
                                [isFormSubmitted]="isOtherInfoFormSubmitted"
                              >
                              </app-input>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="d-flex align-items-start gap-3 mt-4">
                        <button
                          type="button"
                          class="btn btn-light btn-label previestab"
                          data-previous="v-pills-bill-address-tab"
                          (click)="customNav.select(2)"
                        >
                          <i
                            class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                          ></i>
                          Retour
                        </button>
                        <button
                          type="button"
                          class="btn btn-success btn-label right ms-auto nexttab nexttab"
                          data-nexttab="v-pills-finish-tab"
                          (click)="stepNavigateFromTo(3,4)"
                        >
                          <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
                          ></i>
                          Continuer
                        </button>
                      </div>
                    </ng-template>
                  </li>

                  <!-- SUMMARY -->
                  <li [ngbNavItem]="4" class="nav-item">
                    <a
                      ngbNavLink
                      class="nav-link"
                      data-bs-toggle="tab"
                      role="tab"
                    >
                      <span class="step-title me-2">
                        <i class="ri-close-circle-fill step-icon me-2"></i>
                        Etape 4
                      </span>
                      Fin
                    </a>
                    <ng-template ngbNavContent>
                      <div>
                        <h5>Résumé des informations</h5>
                        <p class="text-muted">
                          Ceci est un résumé de toutes les informations saisies.
                          Prière de vérifier et retourner en arrière si besoin.
                        </p>
                      </div>

                      <hr />

                      <div>
                        <p><b>Patient : </b> {{ generateSummary()[0] }}</p>
                        <p><b>Contact : </b> {{ generateSummary()[1] }}</p>
                        <p>
                          <b>Personne à prévenir : </b>
                          {{ generateSummary()[2] }}
                        </p>
                      </div>

                      <div class="d-flex align-items-start gap-3 mt-4">
                        <button
                          type="button"
                          class="btn btn-light btn-label me-auto previestab"
                          data-previous="v-pills-bill-address-tab"
                          (click)="customNav.select(3)"
                        >
                          <i
                            class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                          ></i>
                          Retour
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary btn-label nexttab nexttab"
                          data-nexttab="v-pills-finish-tab"
                        >
                          <i
                            class="ri-save-2-fill label-icon align-middle fs-16 me-2"
                          ></i>
                          Enregistrer et quitter
                        </button>
                        <button
                          type="button"
                          class="btn btn-success btn-label right nexttab nexttab"
                          data-nexttab="v-pills-finish-tab"
                        >
                          <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
                          ></i>
                          Continuer vers Activités/Prestations
                        </button>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
              <!-- end nav -->
            </div>
            <!-- end col-->

            <!-- <div class="vr"></div> -->

            <div class="col-lg-9">
              <div class="px-lg-4">
                <div class="tab-content">
                  <div [ngbNavOutlet]="customNav"></div>
                </div>
                <!-- end tab content -->
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
  <!-- end col -->
</div>

<!-- <form class="mb-4" [formGroup]="patientForm" (ngSubmit)="registerPatient()">
  <div class="row">
    <div class="col-12">
      <em
        >Les champs marqués par <span class="text-danger">*</span> sont
        obligatoires</em
      >
    </div>

    

    <div class="mt-4">
      <hr />
       <hr class="bg-danger border-2 border-top border-danger">
    </div>
    <div class="mb-3">
      <h5>Informations d'assurance</h5>
    </div>

    
    

    <div class="mt-4">
      <hr />
    </div>
    <div class="mb-3">
      <h5>Origines et occupations</h5>
    </div>

    
    

    <div class="mt-4">
      <hr />
    </div>
    <div class="mb-3">
      <h5>Adresse et contact</h5>
    </div>

    

    

    <div class="mt-4">
      <hr />
    </div>
    <div class="mb-3">
      <h5>Personne à prévenir</h5>
    </div>

    

    <div class="col-lg-12 mt-4">
      <div class="text-end">
        <button class="btn btn-light me-4" (click)="emptyFields()">
          Vider les champs
        </button>
        <button
          type="submit"
          class="btn btn-success btn-label waves-effect waves-light me-4"
          [disabled]="patientForm.invalid"
        >
          <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>
          Enregistrer
        </button>
        <button
          class="btn btn-secondary btn-label waves-effect right waves-light"
          awNextStep
          [disabled]="patientForm.invalid"
        >
          <i class="ri-arrow-right-fill label-icon align-middle fs-16 ms-2"></i
          >Continuer
        </button>
      </div>
    </div>
  </div>
</form> -->
