<div class="col-12">
  <form [formGroup]="prescriptionForm">
    <div class="row">
      <div class="col-lg-3">
        <app-select
          label="Nom de spécialité"
          [isMandatory]="true"
          [control]="productNameController"
          [options]="products"
        ></app-select>
      </div>
      <div class="col-lg-3">
        <app-input
          label="DCI"
          [readOnly]="true"
          [control]="productDciController"
        ></app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <!-- TABLE ROW -->
        <div class="row mb-2">
          <div class="col-12">
            <div class="table-responsive" style="max-height: 150px">
              <!-- table-card -->
              <table
                class="table table-bordered table-hover table-striped align-middle"
              >
                <thead
                  class="table-light text-muted"
                  style="
                    position: sticky;
                    top: -1px;
                    background-color: whitesmoke;
                  "
                >
                  <tr>
                    <th scope="col">
                      {{ "Présentation(s) et dosage(s)" | uppercase }}
                    </th>
                    <th scope="col">{{ "Conditionnement(s)" | uppercase }}</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>

                <tbody>
                  <ng-container *ngIf="productForms.length === 0">
                    <tr>
                      <td colspan="3">
                        <div class="d-flex justify-content-center">
                          Aucun contenu dans la table
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                  <tr
                    *ngFor="let productForm of productForms"
                    class="user-select-none"
                    (click)="selectProductForm(productForm)"
                  >
                    <td>
                      {{ productForm.presentation }} - {{ productForm.dosage }}
                    </td>

                    <td>
                      {{ productForm.conditionnement }}
                    </td>

                    <!-- <td>
                      <div class="d-inline-block" ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-icon btn-outline-dark btn-sm waves-effect waves-light arrow-none"
                          ngbDropdownToggle
                        >
                          <i class="ri-more-fill fs-24"></i>
                        </button>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- FIELDS ROW -->
        <div class="row">
          <div class="row">
            <div class="col-12">
              <app-input
                label="Présentation(s) et dosage(s)"
                [readOnly]="true"
                [control]="productFormController"
              ></app-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <app-input
                label="Quantité"
                [isMandatory]="true"
                [alignRight]="true"
                [control]="quantityController"
              ></app-input>
            </div>
            <div class="col-md-8">
              <app-input
                label="Conditionnement"
                [isMandatory]="true"
                [control]="packagingController"
              ></app-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <app-input
                label="Dose prescrite"
                [isMandatory]="true"
                [alignRight]="true"
                [control]="dosageQuantityController"
              ></app-input>
            </div>
            <div class="col-md-8">
              <app-input
                label="Unité"
                [isMandatory]="true"
                [control]="dosageController"
              ></app-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <app-input
                label="Période"
                [isMandatory]="true"
                [control]="periodController"
              ></app-input>
            </div>
            <div class="col-md-6">
              <app-input
                label="Adverbe"
                [isMandatory]="true"
                [control]="adverbController"
              ></app-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <app-input
                label="Durée du traitement"
                [isMandatory]="true"
                [alignRight]="true"
                [control]="timeController"
              ></app-input>
            </div>
            <div class="col-md-8">
              <app-select
                label="Unité"
                [isMandatory]="true"
                [searchable]="false"
                [editable]="false"
                [clearable]="false"
                [control]="timeUnitController"
                [options]="timeUnits"
              ></app-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <app-input label="Note" [control]="noteController"> </app-input>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-info me-2">Heures de prise</button>

            <button class="btn btn-success" (click)="validatePrescription()">
              <b>Valider la prescription</b>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- PRESCRIPTION DISPLAY ROW -->
        <div class="row h-50 border">
          <div class="col-12">
            <div
              class="d-table mt-2"
              *ngFor="let prescription of prescriptions"
            >
              <div class="d-table-row">
                <div class="d-table-cell" style="width: 1%">
                  <h5>
                    <b
                      ><u>
                        {{
                          prescription.produit.nom +
                            " " +
                            prescription.forme.presentation +
                            " - " +
                            prescription.forme.dosage
                        }}
                      </u></b
                    >
                  </h5>
                </div>
                <div class="d-table-cell" style="width: 1%">
                  {{ prescription.qte + " " + prescription.conditionnement }}
                </div>
              </div>
              <div class="d-table-row">
                <div class="d-table-cell" style="width: 1%">
                  {{
                    prescription.periode +
                      " " +
                      prescription.adverbe +
                      " " +
                      prescription.duree_qte +
                      " " +
                      prescription.duree
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PRESCRIPTION GRID ROW -->
        <div class="row h-50 border">
          <div class="col-12">
            <div class="table-responsive" style="max-height: 150px">
              <!-- table-card -->
              <table
                class="table table-bordered table-hover table-striped align-middle"
              >
                <thead
                  class="table-light text-muted"
                  style="
                    position: sticky;
                    top: -1px;
                    background-color: whitesmoke;
                  "
                >
                  <tr>
                    <th scope="col">
                      {{ "Médicament" | uppercase }}
                    </th>
                    <th scope="col">{{ "Présentation" | uppercase }}</th>
                    <th scope="col">{{ "Quantité" | uppercase }}</th>
                    <th scope="col">{{ "Dose" | uppercase }}</th>
                    <th scope="col">{{ "Période" | uppercase }}</th>
                    <th scope="col">{{ "Adverbe" | uppercase }}</th>
                    <th scope="col">{{ "Durée" | uppercase }}</th>
                    <th scope="col">{{ "Note" | uppercase }}</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>

                <tbody>
                  <ng-container *ngIf="prescriptions.length === 0">
                    <tr>
                      <td colspan="9">
                        <div class="d-flex justify-content-center">
                          Aucun contenu dans la table
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                  <tr
                    *ngFor="let prescription of prescriptions"
                    class="user-select-none"
                  >
                    <td>
                      {{ prescription.produit.nom }}
                    </td>
                    <td>
                      {{ prescription.forme.presentation }}
                    </td>
                    <td style="text-align: right">
                      {{ prescription.qte }}
                    </td>
                    <td>
                      {{ prescription.dose_qte + " " + prescription.dose }}
                    </td>
                    <td>
                      {{ prescription.periode }}
                    </td>
                    <td>
                      {{ prescription.adverbe }}
                    </td>
                    <td>
                      {{ prescription.duree_qte + " " + prescription.duree }}
                    </td>
                    <td>
                      {{ prescription.note }}
                    </td>

                    <!-- <td>
                      <div class="d-inline-block" ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-icon btn-outline-dark btn-sm waves-effect waves-light arrow-none"
                          ngbDropdownToggle
                        >
                          <i class="ri-more-fill fs-24"></i>
                        </button>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
