<form class="app-search d-none d-md-block">
  <div class="position-relative">
    <app-input
    [placeholder]="'Recherche'"
    [control]="search"
    >

    </app-input>
    <span class="mdi mdi-magnify search-widget-icon"></span>
    <span
      class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"
      id="search-close-options"
    ></span>
  </div>
</form>
<div class="table-responsive fiche-comptable">
  <table
    class="table table-responsive table-bordered align-middle table-nowrap mb-0"
  >
    <thead>
      <tr>
        <th scope="col">Désignation</th>
        <th scope="col" class="text-center" *ngFor="let d of days">{{ "J" +  (d.i + 1) }}</th>
        <th scope="col" class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtered_list; let i = index">
        <td>{{ item.libelle || item.nom_officiel }}</td>
        <td *ngFor="let d of days; let k = index" class="cursor-pointer t-content"
        [class.active]="setActive(d.o, item.id, typeData === 'chambres' ? item.chambre : null )"
        (dblclick)="selectItem(d.o, item.id, typeData === 'chambres' ? item.chambre : null)"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mt-4" *ngIf="numberOfPages > 1">
  <div class="col-sm-12 col-md-12 gridjs-pagination">
    <div
      class="gridjs-pages"
    >
        <button 
            role="button"
            title="Précédent"
          id="fixed-header_previous"
          *ngIf="currentPage > 1"
            (click)="previous()"
            [class.disabled]="currentPage === 1"
        >
         Préc.
        </button>
        <button 
        role="button"
        *ngFor="let index of visiblePageNumbers"
        [class.gridjs-currentPage]="currentPage === index"
        (click)="setCurrentPage(index)">
        {{ index === -1 ? '...' : index }}   
        </button>
        <button
        role="button"
        id="fixed-header_next"
        *ngIf="!(currentPage === numberOfPages || !numberOfPages)"
        [class.disabled]="currentPage === numberOfPages || !numberOfPages"
    (click)="next()"
    >
         Suiv.
        </button>
    </div>
  </div>
</div>
