<form class="app-search d-none d-md-block">
  <div *ngIf="typeData !== 'evolution' && typeData !== 'watches'" class="position-relative">
    <h-input [placeholder]="'Recherche'" [control]="search"></h-input>
    <span class="mdi mdi-magnify search-widget-icon"></span>
    <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"
      id="search-close-options"></span>
  </div>
</form>
<div class="table-responsive fiche-comptable">
  <!-- Watches tab -->
  <div *ngIf="typeData === 'watches'">
    <div *ngFor="let watch of charts; let i = index" class="mb-3">
      <h5 class="fw-semibold">{{ watch.label }}</h5>
      <canvas [id]="watch.name" height="160" width="1400px" (dblclick)="showWatch(watch)"></canvas>
    </div>
    <div *ngFor="let watch of not_charts; let i = index" class="mb-3">
      <h5 class="fw-semibold">{{ watch.label }}</h5>
      <table class="table table-responsive table-bordered align-middle table-nowrap mb-0">
        <thead>
          <tr>
            <th scope="col" class="text-center">Jours</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of days; let k = index">
            <td class="evolution-day-content">{{ "J" + (d.i + 1) }}</td>
            <td class="evolution-day-content" (click)="showWatchValueSelector(d.o , $event, watch)">
              <div class="addwatchbtn">Ajouter</div>
            </td>
            <td class="watch_time_data">
              <div class="watch_values" *ngFor="let w of getWatchData(d.o, watch); let k">
                <label class="mb-0">{{ w.value }}</label><span class="mb-2">{{ w.hour }}</span>
                <span class="removewatchbtn" (click)="removeWatchData(w, watch)">Supprimer</span>
              </div>
            </td>
            <td class="evolution-day-content" (click)="showWatchValueSelector(d.o , $event, watch)">
              <div class="addwatchbtn">Ajouter</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- evolution tab -->
  <table *ngIf="typeData === 'evolution'" class="table table-responsive table-bordered align-middle table-nowrap mb-0">
    <thead>
      <tr>
        <th scope="col" class="text-center">Jours</th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of days; let k = index" class="cursor-pointer" (dblclick)="showEvolution(d.o)">
        <td class="evolution-day-content">{{ "J" + (d.i + 1) }}</td>
        <td class="t-content td-break w-700" [attr.data-item-id]="getEvolutionDataId(d.o)" [attr.data-item-day]="d.o"
          [attr.data-item-typedata]="typeData">{{ getEvolutionData(d.o) }}</td>
      </tr>
    </tbody>
  </table>

  <!-- All other data types -->
  <table *ngIf="typeData !== 'evolution' && typeData !== 'watches'"
    class="table table-responsive table-bordered align-middle table-nowrap mb-0">
    <thead>
      <tr>
        <th scope="col" class="fixed-column des-title">Désignation</th>
        <th scope="col" class="text-center" *ngFor="let d of days">{{ "J" + (d.i + 1) }}</th>
        <th scope="col" class="fixed-column text-right">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtered_list; let i = index">
        <td class="fixed-column des-title">{{ item.libelle || item.nom_officiel }}</td>
        <td *ngFor="let d of days; let k = index" class="cursor-pointer t-content"
          [class.active]="setActive(d.o, item.id, typeData === 'chambres' ? item.chambre : null )"
          (dblclick)="dbClick(d.o, item.id, typeData === 'chambres' ? item.chambre : null)"
          (click)="sClick(d.o, item.id, typeData === 'chambres' ? item.chambre : null)"
          [attr.data-item-id]="getRowId(d.o, item.id, typeData === 'chambres' ? item.chambre : null )"
          [attr.data-item-day]="d.o" [attr.data-item-typedata]="typeData" [attr.data-item-type-id]="item.id"
          [attr.data-item-qte]="getRowQte(d.o, item.id, typeData === 'chambres' ? item.chambre : null )">
          {{ getRowQte(d.o, item.id, typeData === 'chambres' ? item.chambre : null ) }}
        </td>
        <td class="fixed-column text-right">{{ getTotal(item.id, typeData === 'chambres' ? item.chambre : null) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mt-4" *ngIf="numberOfPages > 1">
  <div class="col-sm-12 col-md-12 gridjs-pagination">
    <div class="gridjs-pages">
      <button role="button" title="Précédent" id="fixed-header_previous" *ngIf="currentPage > 1" (click)="previous()"
        [class.disabled]="currentPage === 1">
        Préc.
      </button>
      <button role="button" *ngFor="let index of visiblePageNumbers" [class.gridjs-currentPage]="currentPage === index"
        (click)="setCurrentPage(index)">
        {{ index === -1 ? '...' : index }}
      </button>
      <button role="button" id="fixed-header_next" *ngIf="!(currentPage === numberOfPages || !numberOfPages)"
        [class.disabled]="currentPage === numberOfPages || !numberOfPages" (click)="next()">
        Suiv.
      </button>
    </div>
  </div>
</div>

<!-- Evolution modal -->
<div *ngIf="typeData === 'evolution'">
  <ng-template #evolutionEdition let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Mettre à jour l'évolution du malade</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <app-text label="Commentaire" [isMandatory]="true" [control]="currentEvolution" [rows]="10"
            [fontSize]="'25px'"></app-text>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Annuler</button>
      <button type="button" class="btn btn-primary" (click)="SaveEvolution()">Enrégistrer</button>
    </div>
  </ng-template>
</div>

<!-- Watch modal -->
<div *ngIf="typeData === 'watches'">
  <ng-template #watchesEdition let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ currentWatch.label }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive table-bordered align-middle table-nowrap mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-center">Jours</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of days; let k = index">
                <td class="evolution-day-content">{{ "J" + (d.i + 1) }}</td>
                <td class="watch_time_data">
                  <div class="watch_values" *ngFor="let w of getWatchData(d.o); let k">
                    <label class="mb-0">{{ w.value }}</label><span class="mb-2">{{ w.hour }}</span>
                    <span class="removewatchbtn" (click)="removeWatchData(w)">Supprimer</span>
                  </div>
                </td>
                <td class="evolution-day-content" (click)="showWatchValueSelector(d.o , $event)">
                  <div class="addwatchbtn">Ajouter</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Fermer</button>
    </div>
  </ng-template>
</div>

<div *ngIf="typeData === 'watches'">
  <ng-template #watchesValueEdition let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ currentWatch.label }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <h-input label="Heure" type="time" [isMandatory]="true" [control]="watchTime"></h-input>
        </div>
        <div class="col-md-6 form-group">
          <h-input *ngIf="currentWatch.options === undefined" label="Valeur" type="text" [isMandatory]="true" [control]="watchValue"></h-input>
          <h-select *ngIf="currentWatch.options !== undefined" label="Valeur" [options]="watchValueOptions" [control]="watchValue"
          [clearable]="false" [bindValue]="'text'">
        </h-select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button #dismissWatchValueModal type="button" class="btn btn-outline-dark"
        (click)="modal.close()">Annuler</button>
      <button type="button" class="btn btn-primary" (click)="saveWatch()">Enrégistrer</button>
    </div>
  </ng-template>
</div>