<ng-container *ngIf="consultations.length === 0">
  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-secondary">Détails de l'attente</button>

    <div
      class="d-flex justify-content-between align-items-center border border-dark border-1 px-1"
    >
      <div class="me-5">
        <h5 class="m-0">
          <b>Acte: </b>
          <span class="text-secondary"
            ><b>{{ waitingDetails.visitActs }}</b></span
          >
        </h5>
      </div>
      <div>
        <h5 class="m-0">
          <b>Frais: </b>
          <span class="text-secondary"
            ><b>{{ waitingDetails.visitTotalCost }}</b></span
          >
        </h5>
      </div>
      <div class="ms-5">
        <h5 class="m-0">
          <b>Heure: </b>
          <span class="text-secondary"
            ><b>{{ waitingDetails.visitDate | date : "HH:mm:ss" }}</b></span
          >
        </h5>
      </div>
    </div>

    <button class="btn btn-secondary">Fichiers attachés</button>
  </div>
</ng-container>

<form [formGroup]="visitInfosForm">
  <!-- FIRST PART -->
  <div class="row">
    <div class="col-md-4">
      <app-input
        type="date"
        label="Date de consultation"
        [isMandatory]="true"
        [isFormSubmitted]="isVisitInfosFormSubmitted"
        [readOnly]="consultations.length > 0"
        [control]="visitDateControl"
      ></app-input>
    </div>

    <div class="col-md-4">
      <app-input
        [readOnly]="true"
        label="Médecin consulteur"
        [control]="visitDoctorControl"
      >
      </app-input>
    </div>

    <div class="col-md-4">
      <app-select
        label="Secteur"
        [isMandatory]="true"
        [isFormSubmitted]="isVisitInfosFormSubmitted"
        [clearable]="false"
        [options]="sectors"
        [control]="visitSectorControl"
      ></app-select>
    </div>
  </div>

  <hr />

  <!-- SECOND PART -->
  <div class="row">
    <div class="col-md-2">
      <app-input
        type="number"
        label="Poids (kg)"
        [control]="weightControl"
      ></app-input>
    </div>

    <div class="col-md-2">
      <app-input
        type="number"
        label="Taille (cm)"
        [control]="sizeControl"
      ></app-input>
    </div>

    <div class="col-md-1">
      <app-input
        type="number"
        label="PC (cm)"
        [control]="pcControl"
      ></app-input>
    </div>

    <div class="col-md-2">
      <app-input
        type="number"
        label="Température (°C)"
        [control]="temperatureControl"
      ></app-input>
    </div>

    <div class="col-md-1">
      <app-input type="number" label="FR" [control]="frControl"></app-input>
    </div>

    <div class="col-md-2">
      <app-input
        type="number"
        label="Pouls"
        [control]="pulseControl"
      ></app-input>
    </div>

    <div class="col-md-2">
      <app-input
        label="Tension (mmHg)"
        placeholder="___ / ___"
        [control]="tensionControl"
      ></app-input>
      <!-- maskFormat="0 / 0 || 0 / 00 || 00 / 0 || 00 / 00 || 00 / 000 || 000 / 00 || 000 / 000" NOT WORKING -->
    </div>
  </div>

  <hr />

  <!-- THIRD PART -->
  <div class="row">
    <div class="col-md-4" id="actsSelects">
      <div class="row gx-2">
        <!-- <div class="col-md-2 d-flex align-items-center">
            <label class="form-label m-0">Acte</label>
          </div> -->
        <ng-container formArrayName="acts">
          <ng-container
            *ngFor="
              let act of actsFields.controls.reverse();
              let i = index;
              let count = count
            "
          >
            <div class="col-md-10">
              <app-select
                [label]="'Acte ' + (count - i)"
                [options]="acts"
                [control]="act"
              ></app-select>
            </div>
            <div class="col-md-2 d-flex align-items-end mb-2">
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                (click)="addActsField()"
              >
                <i class="ri-add-fill fs-20"></i>
              </button>
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                (click)="count !== 1 ? removeActsField(count - i - 1) : null"
              >
                <i class="ri-subtract-fill fs-20"></i>
              </button>
            </div> </ng-container
        ></ng-container>
      </div>
    </div>

    <div class="col-md-4" id="motifsSelects">
      <div class="row gx-2">
        <!-- <div class="col-md-2 d-flex align-items-center">
            <label class="form-label m-0">Motif</label>
          </div> -->
        <ng-container formArrayName="motifs">
          <ng-container
            *ngFor="
              let motif of motifsFields.controls.reverse();
              let i = index;
              let count = count
            "
          >
            <div class="col-md-10">
              <div class="col-md-12">
                <app-select
                  [label]="'Motif ' + (count - i)"
                  [options]="motifs"
                  [isLoading]="motifsAreLoading"
                  [typeahead]="motifsTypeahead$"
                  [control]="motif"
                  bottomMargin="1"
                ></app-select>
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-end mb-1">
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                (click)="addMotifsField()"
              >
                <i class="ri-add-fill fs-20"></i>
              </button>
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                (click)="count !== 1 ? removeMotifsField(count - i - 1) : null"
              >
                <i class="ri-subtract-fill fs-20"></i>
              </button>
            </div>
            <div class="col-md-10 mb-2">
              <textarea
                class="form-control form-control-sm"
                placeholder="Caractères du motif"
                rows="1"
              ></textarea>
              <!-- [formControl]="diseaseHistoryControl" -->
            </div>
          </ng-container></ng-container
        >
      </div>
    </div>

    <div class="col-md-4" id="diagnosticsSelects">
      <div class="row gx-2">
        <!-- <div class="col-md-3 d-flex align-items-center">
            <label class="form-label m-0">Diagnostic</label>
          </div> -->
        <ng-container formArrayName="diagnostics">
          <ng-container
            *ngFor="
              let diagnostic of diagnosticsFields.controls.reverse();
              let i = index;
              let count = count
            "
          >
            <div class="col-md-10">
              <app-select
                [label]="'Diagnostic ' + (count - i)"
                [options]="diagnostics"
                [isLoading]="diagnosticsAreLoading"
                [typeahead]="diagnosticsTypeahead$"
                [control]="diagnostic"
                bottomMargin="1"
              ></app-select>
            </div>
            <div class="col-md-2 d-flex align-items-end mb-1">
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                (click)="addDiagnosticsField()"
              >
                <i class="ri-add-fill fs-20"></i>
              </button>
              <button
                type="button"
                class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                (click)="
                  count !== 1 ? removeDiagnosticsField(count - i - 1) : null
                "
              >
                <i class="ri-subtract-fill fs-20"></i>
              </button>
            </div>
            <div class="col-md-10 mb-2">
              <textarea
                class="form-control form-control-sm"
                placeholder="Commentaies du diagnostic"
                rows="1"
              ></textarea>
              <!-- [formControl]="diseaseHistoryControl" -->
            </div>
          </ng-container></ng-container
        >
      </div>
    </div>
  </div>

  <hr />

  <!-- THIRD PART -->
  <div class="row">
    <ng-container
      *ngIf="consultations.length === 0; else previousOrModifyConsultation"
    >
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="diseaseHistory" class="form-label custom-form-label-sm">
              Histoire de la maladie
            </label>
            <textarea
              id="diseaseHistory"
              class="form-control form-control-sm"
              rows="2"
              [formControl]="diseaseHistoryControl"
              [ngClass]="{
                'is-invalid':
                  diseaseHistoryControl.touched &&
                  diseaseHistoryControl.dirty &&
                  diseaseHistoryControl.errors
              }"
            ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3 mb-lg-0">
            <div class="row">
              <label class="form-label custom-form-label-sm">
                Médicaments prescrits
              </label>
            </div>
            <div
              class="row border border-dark rounded-3 mx-0"
              style="overflow-y: scroll; min-height: 200px; max-height: 200px"
            >
              <div class="col-12">
                <div
                  class="d-table mt-2"
                  *ngFor="let prescription of prescriptions"
                >
                  <div class="d-table-row">
                    <div class="d-table-cell" style="width: 1%">
                      <h5>
                        <b
                          ><u>
                            {{
                              prescription.produit.nom +
                                " " +
                                prescription.forme.presentation +
                                " - " +
                                prescription.forme.dosage
                            }}
                          </u></b
                        >
                      </h5>
                    </div>
                    <div class="d-table-cell" style="width: 1%">
                      {{
                        prescription.qte + " " + prescription.conditionnement
                      }}
                    </div>
                  </div>
                  <div class="d-table-row">
                    <div class="d-table-cell" style="width: 1%">
                      {{
                        (prescription.periode
                          ? prescription.periode + " "
                          : "") +
                          (prescription.adverbe
                            ? prescription.adverbe + " "
                            : "") +
                          (prescription.duree_qte
                            ? prescription.duree_qte + " "
                            : "") +
                          (prescription.duree ? prescription.duree + " " : "")
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <label for="diseaseHistory" class="form-label custom-form-label-sm">
                    Médicaments prescrits
                  </label>
                  <textarea
                    id="diseaseHistory"
                    class="form-control form-control-sm"
                    rows="2"
                    [formControl]="prescribedMedicationControl"
                    [ngClass]="{
                      'is-invalid':
                        ((prescribedMedicationControl.touched &&
                          prescribedMedicationControl.dirty) ||
                          isFormSubmitted) &&
                        prescribedMedicationControl.errors
                    }"
                  ></textarea> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-end">
        <div class="row gy-2">
          <div class="col-md-6 d-grid">
            <button
              class="btn btn-outline-secondary"
              (click)="openPrescriberModal()"
            >
              <b>Ordonnancier</b>
            </button>
          </div>
          <div class="col-md-6 d-grid">
            <button
              class="btn btn-outline-success"
              (click)="openAppointmentModal()"
            >
              <b>Rendez-vous</b>
            </button>
          </div>

          <div class="col-md-6 d-grid">
            <button class="btn btn-outline-success"><b>Examens</b></button>
          </div>
          <div class="col-md-6 d-grid">
            <button class="btn btn-outline-secondary" (click)="hospitalise()">
              <b>Hospitaliser</b>
            </button>
          </div>

          <div class="col-md-6 d-grid">
            <button
              type="button"
              class="btn btn-outline-secondary btn-label btn-sm"
              (click)="saveVisitInfosAndLeave()"
            >
              <i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>

              Enregistrer et retourner sur la liste d'attente
            </button>
          </div>
          <div class="col-md-6 d-grid">
            <button
              type="button"
              class="btn btn-outline-success btn-label btn-sm"
              (click)="saveVisitInfosAndLeave()"
            >
              <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>

              Enregistrer et quitter
            </button>
          </div>

          <div class="col-md-6 d-grid">
            <button class="btn btn-outline-success"><b>ATRD</b></button>
          </div>
          <div class="col-md-6 d-grid">
            <button class="btn btn-outline-secondary"><b>M-U</b></button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #previousOrModifyConsultation>
      <div class="col-lg-8">
        <label for="diseaseHistory" class="form-label custom-form-label-sm">
          Histoire de la maladie
        </label>
        <textarea
          id="diseaseHistory"
          class="form-control form-control-sm"
          rows="5"
          [formControl]="diseaseHistoryControl"
          [ngClass]="{
            'is-invalid':
              diseaseHistoryControl.touched &&
              diseaseHistoryControl.dirty &&
              diseaseHistoryControl.errors
          }"
        ></textarea>
      </div>

      <div class="col-lg-4">
        <label
          for="prescribedMedication"
          class="form-label custom-form-label-sm"
        >
          Médicaments prescrits
        </label>
        <textarea
          id="prescribedMedication"
          class="form-control form-control-sm"
          rows="5"
          [readOnly]="true"
          [formControl]="prescribedMedicationControl"
          [ngClass]="{
            'is-invalid':
              prescribedMedicationControl.touched &&
              prescribedMedicationControl.dirty &&
              prescribedMedicationControl.errors
          }"
        ></textarea>
      </div>

      <div class="col-lg-12 mt-4 d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-warning btn-label text-dark"
          (click)="registerVisitsModifications()"
        >
          <i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>

          Enregistrer les modifications
        </button>
      </div>
    </ng-template>
  </div>
</form>
