<div class="col-12">
  <div class="row d-flex justify-content-between">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <app-input
            label="Rechercher"
            placeholder="Terme de recherche"
            [control]="searchControl"
            bottomMargin="0"
          >
          </app-input>
        </div>

        <div class="col-md-6">
          <app-select
            label="Critère de recherche"
            [editable]="false"
            [searchable]="false"
            [clearable]="false"
            [options]="searchCriteria"
            [control]="searchCriterionControl"
            bottomMargin="0"
          >
          </app-select>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-end align-items-end">
      <button
        type="button"
        class="btn btn-success btn-label ms-auto"
        (click)="openProductFormModal()"
      >
        <i class="ri-add-line label-icon align-middle fs-24 me-2"></i>
        Nouveau produit
      </button>
    </div>
  </div>

  <hr />

  <!-- <div class="card-body"> -->

  <div class="row">
    <div class="col-12">
      <div class="table-responsive" style="max-height: 400px">
        <!-- table-card -->
        <table class="table table-hover table-striped align-middle">
          <thead
            class="table-light text-muted"
            style="position: sticky; top: -1px; background-color: whitesmoke"
          >
            <tr>
              <th scope="col">{{ "Nom" | uppercase }}</th>
              <th scope="col">{{ "DCI" | uppercase }}</th>
              <th scope="col">{{ "Indications(s)" | uppercase }}</th>
              <th scope="col">{{ "Posologie adulte" | uppercase }}</th>
              <th scope="col">{{ "Posologie enfant" | uppercase }}</th>
              <th scope="col">{{ "Contre-indications" | uppercase }}</th>
              <th scope="col">{{ "Classe" | uppercase }}</th>
              <th scope="col">{{ "Agence" | uppercase }}</th>
              <th scope="col">{{ "Laboratoire" | uppercase }}</th>
              <th scope="col">{{ "Délégué" | uppercase }}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products" class="user-select-none">
              <td>
                <ngb-highlight
                  [result]="product.nom"
                  [term]="searchControl.value"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="product.dci"
                  [term]="searchControl.value"
                ></ngb-highlight>
              </td>

              <td>
                <ng-container
                  *ngFor="
                    let indication of product.indications;
                    let i = index;
                    let count = count
                  "
                >
                  <ngb-highlight
                    [result]="indication.libelle"
                    [term]="searchControl.value"
                  ></ngb-highlight>
                  <b *ngIf="i !== count - 1"> * </b>
                </ng-container>
              </td>

              <td>
                <ng-container
                  *ngFor="
                    let adultPosology of product.posologies;
                    let i = index;
                    let count = count
                  "
                >
                  <span *ngIf="adultPosology.type === 'adulte'">
                    {{ adultPosology.libelle }}
                    <b *ngIf="i !== count - 1"> * </b>
                  </span>
                </ng-container>
              </td>

              <td>
                <ng-container
                  *ngFor="
                    let childPosology of product.posologies;
                    let i = index;
                    let count = count
                  "
                >
                  <span *ngIf="childPosology.type === 'enfant'">
                    {{ childPosology.libelle }}
                    <b *ngIf="i !== count - 1"> * </b>
                  </span>
                </ng-container>
              </td>

              <td>
                <ng-container
                  *ngFor="
                    let contraIndication of product.contre_indications;
                    let i = index;
                    let count = count
                  "
                >
                  <span>
                    {{ contraIndication.libelle }}
                    <b *ngIf="i !== count - 1"> * </b>
                  </span>
                </ng-container>
              </td>

              <td>
                <ng-container
                  *ngFor="
                    let class of product.classes;
                    let i = index;
                    let count = count
                  "
                >
                  <ngb-highlight
                    [result]="class.nom"
                    [term]="searchControl.value"
                  ></ngb-highlight>
                  <b *ngIf="i !== count - 1"> * </b>
                </ng-container>
              </td>

              <td>
                <ngb-highlight
                  [result]="product.laboratoire?.nom"
                  [term]="searchControl.value"
                ></ngb-highlight>
              </td>

              <td>
                {{ product.agence?.nom }}
              </td>

              <td>
                <ng-container *ngIf="product.delegue">
                  {{ product.delegue.nom + " " + product.delegue.prenoms }}
                </ng-container>
              </td>

              <td>
                <div class="d-inline-block" ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-icon btn-outline-dark btn-sm waves-effect waves-light arrow-none"
                    ngbDropdownToggle
                  >
                    <i class="ri-more-fill fs-24"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem>
                      <i
                        class="ri-information-line label-icon align-middle fs-16 me-2 text-success"
                      ></i>
                      Voir
                    </button>

                    <button
                      ngbDropdownItem
                      (click)="openProductFormModal(product)"
                    >
                      <i
                        class="ri-pencil-line label-icon align-middle fs-16 me-2 text-warning"
                      ></i>
                      Modifier
                    </button>

                    <!-- <button ngbDropdownItem (click)="deleteProduct(product.id)">
                      <i
                        class="ri-pencil-line label-icon align-middle fs-16 me-2 text-warning"
                      ></i>
                      Modifier
                    </button> -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot
            style="position: sticky; bottom: -1px; background-color: whitesmoke"
          >
            <tr>
              <th colspan="11">Total des produits : {{ products.length }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>
