<div class="row">
  <div class="col-md-12"><h5 class="fw-semibold">Visites Médécins externes</h5></div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h-input
          label="Type d'opération"
          [isMandatory]="true"
          [control]="type_op"
        ></h-input>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <h-select
        label="Médecin"
        [isMandatory]="true"
        [options]="medecins"
        [control]="medecin"
        [bindLabel]="'fullname'"
        [bindValue]="'matricule'"
      ></h-select>
    </div>

    <div class="col-md-12 mb-3">
      <h-input label="Date" type="date" [isMandatory]="true" [control]="date_op"></h-input>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <app-text [rows]="3" label="Note" [control]="comment" ></app-text>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-12">
        <div class="table-responsive fiche-comptable">
            <table class="table table-bordered align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col">Tyoe</th>
                  <th scope="col">Date</th>
                  <th scope="col">Médecin</th>
                  <th scope="col">Note</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of externes; let i = index">
                  <td> {{ item.type_op }} </td>
                  <td> {{ item.date_op | date : "dd/MM/yyyy"}} </td>
                  <td> {{ item.medecin.nom + ' ' + item.medecin.prenoms }}</td>
                  <td> {{ item.comments }} </td>
                  <td> <i class="ri-delete-bin-2-fill text-center local-red cursor-pointer"
                    (click)="deleteRecord(item.id)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">
    <button
    type="button"
    class="btn btn-success btn-label right"
    (click)="confirmAction()"
  >
    <i class="ri-save-2-fill label-icon align-middle fs-16 ms-2"></i>
    ENREGISTRER
  </button>
</div>
</div>
