<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row g-4 align-items-center">
        <div class="col-md-7 col-xl-4">
          <div class="hstack gap-2">
            <div class="d-inline-block" ngbDropdown #filterDrop="ngbDropdown">
              <button
                type="button"
                class="btn btn-light btn-icon waves-effect arrow-none"
                ngbDropdownToggle
              >
                <i class="ri-filter-2-fill"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem>Nom & Prénom(s)</button>
                <button ngbDropdownItem>Numéro patient</button>
                <button ngbDropdownItem>Date de naissance</button>
                <button ngbDropdownItem>Date d'entrée</button>
              </div>
            </div>

            <div class="search-box">
              <input
                type="text"
                name="searchTerm"
                class="form-control"
                placeholder="Rechercher"
              />
              <!-- [(ngModel)]="service.searchTerm" -->
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
        </div>
        <div class="d-flex col-md-5 col-xl-8">
          <button
            type="button"
            class="btn btn-success btn-label ms-auto"
            (click)="goToPatientNew()"
          >
            <i class="ri-user-add-fill label-icon align-middle fs-16 me-2"></i>
            Ajouter
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive table-card">
            <table
              class="table table-hover table-striped align-middle mb-0"
            >
              <thead class="table-light text-muted">
                <tr>
                  <th scope="col">{{ "Référence" | uppercase }}</th>
                  <th scope="col">{{ "Nom" | uppercase }}</th>
                  <th scope="col">{{ "Prénom(s)" | uppercase }}</th>
                  <th scope="col">{{ "Né(e) le" | uppercase }}</th>
                  <th scope="col">{{ "Âge" | uppercase }}</th>
                  <th scope="col">{{ "Sexe" | uppercase }}</th>
                  <th scope="col">{{ "Contact" | uppercase }}</th>
                  <th scope="col">{{ "Date d'entrée" | uppercase }}</th>
                  <th scope="col">{{ "N° Pièce" | uppercase }}</th>
                  <th scope="col">{{ "Assurance" | uppercase }}</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let patient of patients"
                  (dblclick)="view(patient)"
                  class="user-select-none"
                >
                  <td>{{ patient.reference }}</td>
                  <td>{{ patient.nom | uppercase }}</td>
                  <td>{{ patient.prenoms }}</td>
                  <td>{{ patient.date_naissance | date : "dd/MM/yyyy" }}</td>
                  <td>{{ patient.age }}</td>
                  <td>{{ patient.sexe }}</td>
                  <td>{{ patient.tel1 }}</td>
                  <td>{{ patient.date_entre | date : "dd/MM/yyyy" }}</td>
                  <td>{{ patient.no_carte }}</td>
                  <td>{{ patient.assurance }}</td>
                  <td>
                    <div
                      class="d-inline-block"
                      ngbDropdown
                      #filterDrop="ngbDropdown"
                      container="body"
                    >
                      <button
                        type="button"
                        class="btn btn-icon btn-outline-dark waves-effect waves-light arrow-none"
                        ngbDropdownToggle
                      >
                        <i class="ri-more-fill fs-24"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem>
                          Voir
                          <i
                            class="ri-information-fill label-icon align-middle fs-16 ms-3"
                          ></i>
                        </button>
                        <button ngbDropdownItem>
                          Modifier
                          <i
                            class="ri-pencil-fill label-icon align-middle fs-16 ms-3"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="refreshPatients()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
              (ngModelChange)="refreshPatients()"
            >
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
              <option [ngValue]="20">20 éléments par page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
