<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row g-4 align-items-center">
        <div class="col-md-7 col-xl-4">
          <div class="hstack gap-3">
            <div class="col-md-6">
              <ng-container *ngIf="isTextTerm; else dateTermField">
                <app-input
                  #firstField
                  label="Rechercher"
                  placeholder="Rechercher"
                  [control]="searchControl"
                >
                </app-input>
              </ng-container>

              <ng-template #dateTermField>
                <app-input
                  label="Date"
                  type="date"
                  [maxDate]="today"
                  [control]="dateTermControl"
                >
                </app-input>
              </ng-template>
            </div>

            <div class="col-md-6">
              <app-select
                label="Critère de recherche"
                [editable]="false"
                [clearable]="false"
                [searchable]="false"
                [options]="searchCriteria"
                [control]="searchCriterionControl"
              ></app-select>
            </div>
          </div>
        </div>

        <div class="d-flex col-md-5 col-xl-8">
          <button
            type="button"
            class="btn btn-success btn-label ms-auto"
            (click)="goToPatientNew()"
            *ngIf="!isInMedicalBase; else patientNewModalButton"
          >
            <i class="ri-user-add-fill label-icon align-middle fs-16 me-2"></i>
            Nouveau patient
          </button>

          <ng-template #patientNewModalButton>
            <button
              type="button"
              class="btn btn-secondary btn-label ms-auto"
              (click)="openPatientNewModal()"
            >
              <i
                class="ri-user-add-fill label-icon align-middle fs-16 me-2"
              ></i>
              Nouveau patient
            </button>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive table-card">
            <table class="table table-hover table-striped align-middle mb-0">
              <thead class="table-light text-muted">
                <tr>
                  <th scope="col">{{ "Référence" | uppercase }}</th>
                  <th scope="col">{{ "Nom" | uppercase }}</th>
                  <th scope="col">{{ "Prénom(s)" | uppercase }}</th>
                  <th scope="col">{{ "Né(e) le" | uppercase }}</th>
                  <th scope="col">{{ "Âge" | uppercase }}</th>
                  <th scope="col">{{ "Sexe" | uppercase }}</th>
                  <th scope="col">{{ "Contact" | uppercase }}</th>
                  <th scope="col">{{ "Date d'entrée" | uppercase }}</th>
                  <th scope="col">{{ "N° Pièce" | uppercase }}</th>
                  <th scope="col">{{ "Assurance" | uppercase }}</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let patient of patients"
                  (dblclick)="onRowItemDoubleClick(patient)"
                  class="user-select-none"
                >
                  <td>
                    <ngb-highlight
                      [result]="patient.reference"
                      [term]="
                        searchCriterionControl.value?.id == 'reference'
                          ? searchControl.value
                          : ''
                      "
                    ></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="patient.nom"
                      [term]="
                        searchCriterionControl.value?.id == 'fullname'
                          ? searchControl.value.split(' ')[0]
                          : ''
                      "
                    ></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="patient.prenoms"
                      [term]="
                        searchCriterionControl.value?.id != 'firstname'
                          ? searchControl.value.split(' ')[1]
                          : searchControl.value
                      "
                    ></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="patient.date_naissance | date : 'dd/MM/yyyy'"
                      [term]="
                        searchCriterionControl.value?.id == 'dob'
                          ? (dateTermControl.value | date : 'dd/MM/yyyy')!
                          : ''
                      "
                    ></ngb-highlight>
                    <!-- {{ patient.date_naissance | date : "dd/MM/yyyy" }} -->
                  </td>

                  <td>{{ patient.age }}</td>

                  <td>{{ patient.sexe }}</td>

                  <td>
                    {{ patient.tel1 | mask : "09 09 09 09 09 09 09 09 09 09" }}
                  </td>

                  <td>
                    <ngb-highlight
                      [result]="patient.date_ajout | date : 'dd/MM/yyyy'"
                      [term]="
                        searchCriterionControl.value?.id == 'doc'
                          ? (dateTermControl.value | date : 'dd/MM/yyyy')!
                          : ''
                      "
                    ></ngb-highlight>
                    <!-- {{ patient.date_ajout | date : "dd/MM/yyyy" }} -->
                  </td>

                  <td>{{ patient.no_piece }}</td>

                  <td *ngIf="patient.hasInsurance; else noInsurance">
                    {{ patient.assurance?.nom }}
                    <span *ngIf="patient.is_assure == 2; else foreignInsurance">
                      <em>(Locale)</em>
                    </span>
                    <ng-template #foreignInsurance>
                      <span>
                        <em>(Etrangère)</em>
                      </span>
                    </ng-template>
                  </td>
                  <ng-template #noInsurance>
                    <td>
                      <span
                        *ngIf="
                          patient.is_assure == 0;
                          else noInsuranceForeigner
                        "
                      >
                        <em>Non assuré local</em>
                      </span>
                      <ng-template #noInsuranceForeigner>
                        <span>
                          <em>Non assuré étranger</em>
                        </span>
                      </ng-template>
                    </td>
                  </ng-template>

                  <td>
                    <div class="d-inline-block" ngbDropdown container="body">
                      <button
                        type="button"
                        class="btn btn-icon btn-outline-dark btn-sm waves-effect waves-light arrow-none"
                        ngbDropdownToggle
                      >
                        <i class="ri-more-fill fs-24"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem>
                          <i
                            class="ri-information-line label-icon align-middle fs-16 me-2 text-success"
                          ></i>
                          Voir
                        </button>

                        <button
                          ngbDropdownItem
                          (click)="openPatientModificationModal(patient)"
                        >
                          <i
                            class="ri-pencil-line label-icon align-middle fs-16 me-2 text-warning"
                          ></i>
                          Modifier
                        </button>

                        <button
                          *ngIf="!isInMedicalBase"
                          ngbDropdownItem
                          (click)="goToPatientActivity(patient)"
                        >
                          <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 me-2 text-secondary"
                          ></i>
                          Aller vers activités/prestations
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="refreshPatients()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
              (ngModelChange)="refreshPatients()"
            >
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
              <option [ngValue]="20">20 éléments par page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
