<div class="row">
  <div class="col-md-12">
    <h5 class="fw-semibold">Sortie</h5>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row">

          <div *ngFor="let d of diagnostics; let k = index" class="col-md-12 mb-3">
            <div class="row">
              <div class="col-md-10">
                <app-input [label]="'Diagnostic de sortie ' + (k+1)" type="text" [isMandatory]="true"></app-input>
              </div>
              <div class="col-md-2">
                <label>&nbsp;</label>
                <button type="button" class="btn
                 btn-icon waves-effect waves-light w-100" [class.btn-primary]="k === 0" [class.btn-danger]="k !== 0"
                  (click)="k === 0 ? addDiag() : removeDiag(k)">
                  <i [class.ri-add-line]="k === 0" [class.ri-subtract-fill]="k !== 0"></i></button>
              </div>
            </div>

          </div>

          <div class="col-md-12 mb-3">
            <app-select label="Femme enceinte" 
            [isMandatory]="true" [clearable]="false" 
            [options]="enceinteOptions"
              [bindValue]="'value'" 
              [control]="enceinte"></app-select>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-3">
            <app-input label="Date" type="date" [isMandatory]="true"></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>