<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="PATIENTS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row g-4 align-items-center">
        <div class="col-md-7 col-xl-4">
          <div class="hstack gap-2">
            <div class="d-inline-block" ngbDropdown #filterDrop="ngbDropdown">
              <button
                type="button"
                class="btn btn-light btn-icon waves-effect arrow-none"
                ngbDropdownToggle
              >
                <i class="ri-filter-2-fill"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem>Nom & Prénom(s)</button>
                <button ngbDropdownItem>Numéro patient</button>
                <button ngbDropdownItem>Date de naissance</button>
                <button ngbDropdownItem>Date d'entrée</button>
              </div>
            </div>

            <div class="search-box">
              <input
                type="text"
                name="searchTerm"
                class="form-control"
                placeholder="Rechercher"
              />
              <!-- [(ngModel)]="service.searchTerm" -->
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
        </div>
        <div class="d-flex col-md-5 col-xl-8">
          <div class="ms-auto">
            <div
              class="form-check form-check-inline form-radio-outline form-radio-secondary"
            >
              <input
                class="form-check-input"
                type="radio"
                name="waitingListRadio"
                id="all"
                value="all"
                checked
              />
              <label class="form-check-label" for="all">
                Toute la liste d'attente
              </label>
            </div>

            <div
              class="form-check form-check-inline form-radio-outline form-radio-secondary"
            >
              <input
                class="form-check-input"
                type="radio"
                name="waitingListRadio"
                id="sector"
                value="sector"
              />
              <label class="form-check-label" for="sector">
                Liste d'attente par secteur
              </label>
            </div>
            <div
              class="form-check form-check-inline form-radio-outline form-radio-secondary"
            >
              <input
                class="form-check-input"
                type="radio"
                name="waitingListRadio"
                id="doctor"
                value="doctor"
              />
              <label class="form-check-label" for="doctor">
                Liste d'attente par médecin
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive table-card">
            <table class="table table-hover table-striped align-middle mb-0">
              <thead class="table-light text-muted">
                <tr>
                  <th scope="col">{{ "Ordre" | uppercase }}</th>
                  <th scope="col">{{ "Référence" | uppercase }}</th>
                  <th scope="col">{{ "Nom" | uppercase }}</th>
                  <th scope="col">{{ "Prénom(s)" | uppercase }}</th>
                  <th scope="col">{{ "Né(e) le" | uppercase }}</th>
                  <th scope="col">{{ "Âge" | uppercase }}</th>
                  <th scope="col">{{ "Sexe" | uppercase }}</th>
                  <th scope="col">{{ "Prestations" | uppercase }}</th>
                  <th scope="col">{{ "Total facture" | uppercase }}</th>
                  <th scope="col">{{ "Secteur" | uppercase }}</th>
                  <th scope="col">{{ "Médecin" | uppercase }}</th>
                  <th scope="col">{{ "Date arrivée" | uppercase }}</th>
                  <th scope="col">{{ "Heure" | uppercase }}</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of waitingListCut"
                  class="user-select-none"
                >
                  <td>{{ item.num_attente }}</td>
                  <td>{{ item.patient.reference }}</td>
                  <td>{{ item.patient.nom | uppercase }}</td>
                  <td>{{ item.patient.prenoms }}</td>
                  <td>
                    {{ item.patient.date_naissance | date : "dd/MM/yyyy" }}
                  </td>
                  <td>{{ item.patient.age }}</td>
                  <td>{{ item.patient.sexe }}</td>
                  <td>
                    <span
                      *ngFor="let prestation of item.facture.prestation.tarifs"
                    >
                      {{ prestation.libelle + " " }}
                    </span>
                  </td>
                  <td>{{ item.facture.total | mask : "separator" }}</td>
                  <td>{{ item.secteur.libelle }}</td>
                  <td>{{ item.medecin.nom + " " + item.medecin.prenoms }}</td>
                  <td>{{ item.date_attente | date : "dd/MM/yyyy" }}</td>
                  <td>{{ item.date_attente | date : "hh:mm:ss" }}</td>

                  <td>
                    <div class="d-inline-block" ngbDropdown container="body">
                      <button
                        type="button"
                        class="btn btn-icon btn-outline-dark waves-effect waves-light arrow-none"
                        ngbDropdownToggle
                      >
                        <i class="ri-more-fill fs-24"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem>
                          <i
                            class="ri-information-line label-icon align-middle fs-16 me-2 text-success"
                          ></i>
                          Détails de la facture
                        </button>
                        <button ngbDropdownItem>
                          <i
                            class="ri-exchange-line label-icon align-middle fs-16 me-2 text-warning"
                          ></i>
                          Changer de médecin de destination
                        </button>
                        <button
                          ngbDropdownItem
                          (click)="deleteWaitingListItem(item.id)"
                        >
                          <i
                            class="ri-delete-bin-2-line label-icon align-middle fs-16 me-2 text-danger"
                          ></i>
                          Retirer de la liste d'attente
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="refreshWaitingListTable()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
              (ngModelChange)="refreshWaitingListTable()"
            >
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
              <option [ngValue]="20">20 éléments par page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
