<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 me-4">Patient</h4>
        <ng-container *ngIf="patientService.getActivePatient().id > 0">
          <span class="badge badge-label bg-primary me-3"
            ><i class="mdi mdi-circle-medium"></i>
            {{ patientService.getActivePatient().reference }}</span
          >
          <button
            type="button"
            class="btn btn-warning btn-label waves-effect waves-light"
          >
            <i class="ri-pencil-fill label-icon align-middle fs-16 me-2"></i>
            Modifier
          </button>
        </ng-container>
      </div>
      <!-- end card header -->
      <div class="card-body">
        <div
          *ngIf="patientService.getActivePatient().id > 0; else infoUnavailable"
        >
          <p>
            <b>Patient : </b> {{ summary.title }}
            <span class="text-secondary">{{ summary.fullName }}</span
            >, né(e) le
            <span class="text-secondary">{{ summary.birth }}</span>
            <!-- ({{ summary.age }})
            <span class="text-secondary">
              {{
                summary.insurance
                  ? "assuré à " +
                    summary.insuranceRate +
                    "% par " +
                    summary.insurance
                  : ""
              }}
            </span>
            {{
              summary.insuranceEnd
                ? "jusqu'au " + summary.insuranceEnd
                : ""
            }}
          </p> -->
          </p>

          <p>
            <b>Contact : </b>
            {{ summary.tel1 + " / " + summary.tel2 }}
          </p>

          <p>
            <b>Personne à prévenir : </b>
            {{ summary.personToContact }}
          </p>
        </div>

        <ng-template #infoUnavailable>
          <h4>Informations patient indisponibles</h4>
        </ng-template>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!--end col-->
</div>
<!--end row-->

<!-- ACTIVITIES/PRESTATIONS CHOICE -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let prestation of prestations; index as i">
            <div class="col-12 col-md-3 col-xl-2">
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                [id]="'pType-' + i"
              />
              <label
                class="btn btn-outline-secondary me-2 d-block"
                [for]="'pType-' + i"
                (click)="updateTable(i)"
                ><b>{{ prestation.name | uppercase }}</b></label
              >
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row g-4 align-items-center">
        <div class="col-sm">
          <div>
            <h5 class="card-title mb-0">Prestations</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-bottom">
      <div class="row">
        <div class="col-9">
          <form [formGroup]="activityForm">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Type Médecin"
                    [options]="[
                      { id: 0, text: 'Interne' },
                      { id: 1, text: 'Externe' }
                    ]"
                  ></app-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Médecin"
                    [options]="[
                      { id: 0, text: 'Dr J-P' },
                      { id: 1, text: 'Dr Gael' }
                    ]"
                  ></app-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-input label="Provenance" placeholder=""></app-input>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <app-input label="Date" type="date"></app-input>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-input
                    label="Quantité"
                    type="number"
                    [control]="quantityControl"
                  >
                  </app-input>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Effectué par"
                    [options]="[
                      { id: 0, text: 'Dr J-P' },
                      { id: 1, text: 'Dr Gael' }
                    ]"
                  ></app-select>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-3">
          <div class="row">
            <div class="col-5">
              <b>Dernier consulteur : </b>
            </div>

            <div class="col-7">
              <div class="text-secondary mb-4">
                <b>Dr SAMBIANI Kossi François</b>
              </div>
              <div>
                <button type="button" class="btn btn-light">
                  <b>Voir les dernières consultations</b>
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="hstack gap-2">
            <div class="d-inline-block">
              <div class="h-100">
              <div class="vr"></div>

              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="card-body border-bottom">
      <div class="row g-3">
        <div class="col-md-4">
          <!-- <label class="form-label">Rechercher</label> -->
          <div class="search-box">
            <input
              type="text"
              name="searchTerm"
              class="form-control"
              placeholder="Rechercher prestation, prix, etc."
            />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>

        <div class="col-md-8 d-flex">
          <button
            type="button"
            class="btn btn-success btn-label right ms-auto"
            (click)="openInvoiceModal()"
          >
            <i
              class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
            ></i>
            Continuer / Passer au paiement
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-12 mb-3">
            <em>Double-cliquer un élément pour l'ajouter</em>
          </div>

          <div class="table-responsive mt-4 mt-xl-0">
            <table
              class="table table-hover table-striped table-bordered align-middle mb-0"
            >
              <thead>
                <tr>
                  <th scope="col">Prestation</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of activities" (dblclick)="add(item)">
                  <td>{{ item.designation }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.description }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              [maxSize]="5"
              [rotate]="true"
              (pageChange)="refreshActivities()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
              (ngModelChange)="refreshActivities()"
            >
              <option [ngValue]="5">5 éléments par page</option>
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
            </select>
          </div>
        </div>

        <div class="col-md-1 text-center">
          <i class="ri-arrow-left-right-fill fs-24"></i>
        </div>

        <div class="col-md-5">
          <div class="col-12 mb-3">
            <em>Double-cliquer un élément pour le retirer</em>
          </div>

          <div class="table-responsive mt-4 mt-xl-0">
            <table
              class="table table-hover table-striped table-bordered align-middle mb-0"
            >
              <thead>
                <tr>
                  <th scope="col">Rubrique</th>
                  <th scope="col">Activité</th>
                  <th scope="col">Prix unitaire</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of table2" (dblclick)="remove(item)">
                  <td>{{ item.rubrique }}</td>
                  <td>{{ item.activity }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.total_price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end col-->
      </div>
    </div>
  </div>
</div>
