<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="PATIENTS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 me-4">Patient</h4>
        <ng-container *ngIf="patientService.getActivePatient().id > 0">
          <h4>
            <span class="badge bg-primary me-3"
              ><i class="mdi mdi-circle-medium"></i>
              {{ patientService.getActivePatient().reference }}</span
            >
          </h4>
          <button
            type="button"
            class="btn btn-warning btn-label waves-effect waves-light"
          >
            <i class="ri-pencil-fill label-icon align-middle fs-16 me-2"></i>
            Modifier
          </button>
        </ng-container>
      </div>
      <!-- end card header -->
      <div class="card-body">
        <div
          class="row"
          *ngIf="patientService.getActivePatient().id > 0; else infoUnavailable"
        >
          <div class="col-12 col-lg-4">
            <h5>
              <b> Nom : </b>
              <b class="text-secondary">{{
                selectedPatient.nom | uppercase
              }}</b>
            </h5>

            <h5>
              <b> Né(e) le : </b>
              <b class="text-secondary">{{
                selectedPatient.date_naissance | date : "dd/MM/yyyy"
              }}</b>
            </h5>

            <h5>
              <b> Assurance : </b>
              <b class="text-secondary">{{
                selectedPatient.assurance ? selectedPatient.assurance.nom : "-"
              }}</b>
            </h5>

            <h5>
              <b> Contact(s) : </b>
              <b class="text-secondary">{{
                selectedPatient.tel1 + " / " + (selectedPatient.tel2 ?? "-")
              }}</b>
            </h5>
          </div>

          <div class="col-12 col-lg-8">
            <h5>
              <b class="ms-4"> Prénoms : </b
              ><b class="text-secondary">{{
                selectedPatient.prenoms | titlecase
              }}</b>
            </h5>

            <h5>
              <b class="ms-4"> Lieu de naissance : </b>
              <b class="text-secondary">{{
                selectedPatient.lieu_naissance ?? "-"
              }}</b>
            </h5>

            <h5>
              <b class="ms-4"> Taux de prise en charge : </b>
              <b class="text-secondary">{{
                selectedPatient.taux_assurance
                  ? selectedPatient.taux_assurance + " %"
                  : "-"
              }}</b>
            </h5>

            <h5>
              <b class="ms-4"> Personne à prévenir : </b>
              <b class="text-secondary">{{
                selectedPatient.personne_a_prevenir.toText()
              }}</b>
            </h5>
          </div>
        </div>

        <ng-template #infoUnavailable>
          <h4>
            Informations patient indisponibles. Veuillez retourner à la liste
            des anciens patients.
          </h4>
        </ng-template>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!--end col-->
</div>
<!--end row-->

<!-- ACTIVITIES/PRESTATIONS CHOICE -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-4 align-items-center">
          <div class="col-sm">
            <div>
              <h5 class="card-title mb-0">Rubriques</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let actGroup of actGroups; index as i">
            <div class="col-12 col-md-3 col-xl-2">
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                [id]="'pType-' + i"
                [checked]="i === 0"
              />
              <label
                class="btn btn-outline-secondary me-2 d-block"
                [for]="'pType-' + i"
                (click)="updateTable(actGroup)"
                ><b>{{ actGroup.libelle | uppercase }}</b></label
              >
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row g-4 align-items-center">
        <div class="col-sm">
          <div>
            <h5 class="card-title mb-0">Prestations</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-bottom">
      <p class="text-muted">
        <em
          >Les champs marqués par <span class="text-danger">*</span> sont
          obligatoires</em
        >
      </p>
      <div class="row">
        <div class="col-9">
          <form [formGroup]="activityForm">
            <div class="row" *ngIf="isMedicalProceduresSelected">
              <div class="col-md-8">
                <div class="mb-3">
                  <app-select
                    label="Secteur"
                    [isMandatory]="true"
                    [options]="sectors"
                    [control]="sectorControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    [isMandatory]="true"
                    label="Médecin consulteur"
                    [options]="consultingDoctors"
                    [control]="consultingDoctorControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-select>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!isMedicalProceduresSelected">
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Type Médecin"
                    [isMandatory]="true"
                    [editable]="false"
                    [clearable]="false"
                    [searchable]="false"
                    [options]="doctorTypes"
                    [control]="doctorTypeControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Médecin"
                    [isMandatory]="true"
                    [options]="doctors"
                    [canAddOption]="docAddable"
                    [control]="doctorControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-select
                    label="Effectué par"
                    [isMandatory]="true"
                    [options]="performedBys"
                    [control]="performedByControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <app-input
                    label="Date"
                    type="date"
                    [minDate]="today"
                    [isMandatory]="true"
                    [control]="activityDateControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-input>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-input
                    label="Quantité"
                    [isMandatory]="true"
                    [alignRight]="true"
                    [control]="quantityControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                    maskFormat="separator"
                  >
                  </app-input>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <app-input
                    label="Provenance"
                    placeholder="Clinique/Hôpital de provenance du patient"
                    [isMandatory]="true"
                    [control]="originControl"
                    [isFormSubmitted]="isActivityFormSubmitted"
                  ></app-input>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-3 border-dark border-start">
          <div class="row">
            <div class="col-5">
              <b>Dernier consulteur : </b>
            </div>

            <div class="col-7">
              <div class="text-secondary mb-4">
                <b>Dr SAMBIANI Kossi François</b>
              </div>
              <div>
                <button type="button" class="btn btn-light">
                  <b>Voir les dernières consultations</b>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body border-bottom">
      <div class="row g-3">
        <div class="col-md-4">
          <!-- <label class="form-label">Rechercher</label> -->
          <div class="search-box">
            <input
              type="text"
              name="searchTerm"
              class="form-control"
              placeholder="Rechercher par prestation"
              [(ngModel)]="searchTerm"
              (ngModelChange)="searchActs()"
            />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>

        <div class="col-md-8 d-flex">
          <button
            type="button"
            class="btn btn-success btn-label right ms-auto"
            (click)="openInvoiceModal()"
          >
            <i
              class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
            ></i>
            Continuer / Passer au paiement
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-12 mb-3">
            <em>Double-cliquer un élément pour l'ajouter</em>
          </div>

          <div class="table-responsive mt-4 mt-xl-0">
            <table
              class="table table-hover table-striped table-bordered align-middle mb-0"
            >
              <thead>
                <tr>
                  <th scope="col">Prestation</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of activities" (dblclick)="add(item)">
                  <td>
                    <ngb-highlight
                      [result]="item.designation"
                      [term]="searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td class="text-end">
                    {{ item.price | mask : "separator" }}
                  </td>
                  <td>
                    {{ item.description }}
                    <!-- <ngb-highlight
                      [result]="item.description"
                      [term]="searchTerm"
                    ></ngb-highlight> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [(page)]="table1Page"
              [pageSize]="table1PageSize"
              [collectionSize]="table1CollectionSize"
              [maxSize]="5"
              [rotate]="true"
              (pageChange)="refreshActivities()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="table1PageSize"
              (ngModelChange)="refreshActivities()"
            >
              <option [ngValue]="5">5 éléments par page</option>
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
            </select>
          </div>
        </div>

        <div class="col-md-1 text-center">
          <i class="ri-arrow-left-right-fill fs-24"></i>
        </div>

        <div class="col-md-5">
          <div class="col-12 mb-3">
            <em>Double-cliquer un élément pour le retirer</em>
          </div>

          <div class="table-responsive mt-4 mt-xl-0">
            <table
              class="table table-hover table-striped table-bordered align-middle mb-0"
            >
              <thead>
                <tr>
                  <th scope="col">Rubrique</th>
                  <th scope="col">Prestation</th>
                  <th scope="col">Prix unitaire</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix total</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of activitiesSelect"
                  (dblclick)="remove(item)"
                >
                  <td>{{ item.rubrique | uppercase }}</td>
                  <td>{{ item.prestation }}</td>
                  <td class="text-end">
                    {{ item.price | mask : "separator" }}
                  </td>
                  <td class="text-end">{{ item.quantity }}</td>
                  <td class="text-end">
                    {{ item.total_price | mask : "separator" }}
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <tr>
                  <th>Total</th>
                  <td colspan="3"></td>
                  <th>Here</th>
                </tr>
              </tfoot> -->
            </table>
          </div>

          <div
            class="d-flex justify-content-between p-2"
            *ngIf="table2CollectionSize"
          >
            <ngb-pagination
              [(page)]="table2Page"
              [pageSize]="table2PageSize"
              [collectionSize]="table2CollectionSize"
              [maxSize]="5"
              [rotate]="true"
              (pageChange)="refreshActivitiesSelect()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="table2PageSize"
              (ngModelChange)="refreshActivitiesSelect()"
            >
              <option [ngValue]="5">5 éléments par page</option>
              <option [ngValue]="10">10 éléments par page</option>
              <option [ngValue]="15">15 éléments par page</option>
            </select>
          </div>
        </div>
        <!--end col-->
      </div>
    </div>
  </div>
</div>
