<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="PATIENTS RéCENTS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="row g-4 align-items-center">
              <div class="col-md-7 col-xl-4">
                <div class="hstack gap-3">
                  <div class="col-md-6">
                    <ng-container *ngIf="isTextTerm; else dateTermField">
                      <app-input
                        #firstField
                        label="Rechercher"
                        placeholder="Rechercher"
                        [control]="searchControl"
                      >
                      </app-input>
                    </ng-container>
      
                    <ng-template #dateTermField>
                      <app-input
                        label="Date"
                        type="date"
                        [maxDate]="today"
                        [control]="dateTermControl"
                      >
                      </app-input>
                    </ng-template>
                  </div>
      
                  <div class="col-md-6">
                    <app-select
                      label="Critère de recherche"
                      [editable]="false"
                      [clearable]="false"
                      [searchable]="false"
                      [options]="searchCriteria"
                      [control]="searchCriterionControl"
                    ></app-select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive table-card">
              <table class="table table-one-liner table-hover table-striped align-middle mb-0">
                
                <thead class="table-light text-muted">
                    <tr>
                      <th scope="col">{{ "ID Consultation" | uppercase }}</th>
                      <th scope="col">{{ "Nom" | uppercase }}</th>
                      <th scope="col">{{ "Prénom(s)" | uppercase }}</th>
                      <th scope="col">{{ "Né(e) le" | uppercase }}</th>
                      <th scope="col">{{ "Âge" | uppercase }}</th>
                      <th scope="col">{{ "Sexe" | uppercase }}</th>
                      <th scope="col">{{ "Médecin" | uppercase }}</th>
                      <th scope="col">{{ "Secteur" | uppercase }}</th>
                      <th scope="col">{{ "Date d'entrée" | uppercase }}</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                <tbody>
                  <tr
                    *ngFor="let recent of recents"
                    class="user-select-none"
                  >
                    <td>
                        <ngb-highlight
                        [result]="recent.reference"
                        [term]="
                          searchCriterionControl.value?.id == 'reference'
                            ? searchControl.value
                            : ''
                        "
                      ></ngb-highlight>
                    </td>
                    <td><ngb-highlight
                        [result]="recent.patient.nom"
                        [term]="
                          searchCriterionControl.value?.id == 'fullname'
                            ? searchControl.value.split(' ')[0]
                            : ''
                        "
                      ></ngb-highlight></td>
                    <td><ngb-highlight
                        [result]="recent.patient.prenoms"
                        [term]="
                          searchCriterionControl.value?.id == 'firstname'
                          ? searchControl.value.split(' ')[1]
                          : searchControl.value
                        "
                      ></ngb-highlight>
                    </td>
                    <td><ngb-highlight
                        [result]="recent.patient.date_naissance | date : 'dd/MM/yyyy'"
                        [term]="
                          searchCriterionControl.value?.id == 'dob'
                            ? (dateTermControl.value | date : 'dd/MM/yyyy')!
                            : ''
                        "
                      ></ngb-highlight>
                    </td>
                    <td>{{ recent.patient.sexe }}</td>
                    <td>{{ recent.patient.age }}</td>
                    <td>{{
                        recent.attente
                          ? recent.attente.medecin_consulteur?.nom +
                            " " +
                            recent.attente.medecin_consulteur?.prenoms
                          : "-"
                      }}</td>
                    <td>{{ recent.secteur_code ? recent.secteur.libelle : "-" }}</td>
                    <td>
                        <ngb-highlight
                        [result]="recent.date_consultation | date : 'dd/MM/yyyy'"
                        [term]="
                          searchCriterionControl.value?.id == 'doc'
                            ? (dateTermControl.value | date : 'dd/MM/yyyy')!
                            : ''
                        "
                      ></ngb-highlight>
                    </td>

                    <td>
                      <div class="d-inline-block" ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-icon btn-outline-dark btn-sm waves-effect waves-light arrow-none"
                          ngbDropdownToggle
                        >
                          <i class="ri-more-fill fs-24"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <button ngbDropdownItem>
                            <i
                              class="ri-information-line label-icon align-middle fs-16 me-2 text-success"
                            ></i>
                            Voir
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshPatientRecents()"
              >
              </ngb-pagination>
  
              <select
                class="form-select"
                style="width: auto"
                [(ngModel)]="pageSize"
                (ngModelChange)="refreshPatientRecents()"
              >
                <option [ngValue]="10">10 éléments par page</option>
                <option [ngValue]="15">15 éléments par page</option>
                <option [ngValue]="20">20 éléments par page</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  