<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="BASE MEDICALE"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!-- FIRST FORM CARD -->
<app-card
  [hasHeader]="true"
  [hasBody]="!isPatientInfoCollapsed"
  [hasFooter]="true"
>
  <!-- HEADER -->
  <ng-container customCardHeader>
    <div class="d-flex justify-content-between align-items-end">
      <h4>
        <span class="badge bg-primary me-3"
          ><i class="mdi mdi-circle-medium"></i>
          {{
            activePatient.reference +
              " - " +
              activePatient.nom +
              " " +
              activePatient.prenoms
          }}</span
        >
      </h4>

      <h5>Infos patient</h5>

      <div>
        <button
          type="button"
          class="btn btn-warning btn-label waves-effect waves-light me-2 text-dark"
          (click)="goToPreviousPage()"
        >
          <i
            class="ri-arrow-go-back-fill label-icon align-middle fs-16 me-2"
          ></i>
          Retour
        </button>

        <button
          type="button"
          class="btn btn-info btn-label waves-effect waves-light me-2"
          (click)="isPatientInfoCollapsed = !isPatientInfoCollapsed"
          [attr.aria-expanded]="!isPatientInfoCollapsed"
          aria-controls="collapseExample"
        >
          <i class="ri-information-line label-icon align-middle fs-16 me-2"></i>
          <span *ngIf="isPatientInfoCollapsed; else seeLess">Voir plus</span>

          <ng-template #seeLess>
            <span> Voir moins </span>
          </ng-template>
        </button>

        <button
          type="button"
          class="btn btn-warning btn-label waves-effect waves-light text-dark"
        >
          <!-- (click)="openPatientModificationModal()" -->
          <i class="ri-pencil-fill label-icon align-middle fs-16 me-2"></i>
          Modifier
        </button>
      </div>
    </div>
  </ng-container>

  <!-- BODY/CONTENT -->
  <ng-container customCardBody>
    <form
      [formGroup]="patientVisitForm1"
      [(ngbCollapse)]="isPatientInfoCollapsed"
    >
      <div class="row">
        <ng-container formArrayName="chronicDiseases">
          <ng-container
            *ngFor="
              let chronicDisease of chronicDiseasesFields.controls;
              let i = index;
              let count = count
            "
          >
            <div class="col-md-4">
              <div class="row gx-2">
                <div class="col-md-8">
                  <app-select
                    [label]="'Maladie chronique ' + (i + 1)"
                    [options]="chronicDiseases"
                    [canAddOption]="true"
                    [clearable]="true"
                    [editable]="true"
                    [control]="chronicDisease"
                  ></app-select>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <button
                    type="button"
                    class="btn btn-dark btn-icon waves-effect waves-light me-1"
                    (click)="addChronicDiseaseField()"
                  >
                    <i class="ri-add-fill fs-24"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark btn-icon waves-effect waves-light"
                    (click)="count !== 1 ? removeChronicDiseaseField(i) : null"
                  >
                    <i class="ri-subtract-fill fs-24"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- <div class="row">
        <div class="col-md-6 mb-3">
          <app-select
            label="Statut"
            [options]="[]"
            [control]="statusControl"
          ></app-select>
        </div>

        <div class="col-md-6 mb-3">
          <app-select
            label="Antécédents"
            [options]="[]"
            [control]="backgroundControl"
          ></app-select>
        </div>
      </div> -->

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="comments" class="form-label custom-form-label-sm">
            Commentaires
          </label>
          <textarea
            id="comments"
            class="form-control form-control-sm"
            rows="2"
            [formControl]="commentsControl"
            [ngClass]="{
              'is-invalid':
                ((commentsControl.touched && commentsControl.dirty) ||
                  isFormSubmitted) &&
                commentsControl.errors
            }"
          ></textarea>
        </div>

        <div class="col-md-6">
          <label for="backgrounds" class="form-label custom-form-label-sm">
            Antécédents
          </label>
          <textarea
            [readOnly]="true"
            id="backgrounds"
            class="form-control form-control-sm"
            rows="2"
            (click)="openBackgroundsModal()"
            [formControl]="backgroundsControl"
            [ngClass]="{
              'is-invalid':
                ((backgroundsControl.touched && backgroundsControl.dirty) ||
                  isFormSubmitted) &&
                backgroundsControl.errors
            }"
          ></textarea>
        </div>
      </div>

      <div class="row" *ngIf="!isActivePatientAdult">
        <div class="col-md-6">
          <!-- 
            <fieldset
            style="
              margin-bottom: 1em !important;
              border: 1px solid #666 !important;
              padding: 1px !important;
            "
          >
            <legend
              style="padding: 1px 10px !important; float: none; width: auto"
            >
              {{ "Mère" | uppercase }}
            </legend>
            ...
           -->
          <app-card title="MERE" [hasHeader]="true" [hasBody]="true">
            <ng-container customCardBody>
              <div class="row">
                <div class="col-md-6">
                  <app-select
                    label="Profession"
                    [options]="professions"
                    [canAddOption]="true"
                    [control]="motherProfessionControl"
                  ></app-select>
                </div>

                <div class="col-md-6">
                  <app-input
                    label="Cellulaire"
                    type="tel"
                    placeholder="XX XX XX XX"
                    [control]="motherTelControl"
                    maskFormat="09 09 09 09 09 09 09 09 09 09"
                  >
                  </app-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <app-select
                    label="Employeur de l'assuré"
                    [options]="employers"
                    [canAddOption]="true"
                    [control]="motherEmployerControl"
                  ></app-select>
                </div>

                <div class="col-md-6">
                  <app-select
                    label="Assureur"
                    [options]="insurances"
                    [canAddOption]="true"
                    [control]="motherInsuranceControl"
                  ></app-select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <app-input
                    label="Année de naissance"
                    type="number"
                    [control]="motherBirthYearControl"
                  >
                  </app-input>
                </div>
                <div class="col-md-6">
                  <app-input label="Âge" [control]="motherAgeControl">
                  </app-input>
                </div>
              </div>
            </ng-container>
          </app-card>
        </div>

        <div class="col-md-6">
          <app-card title="PERE" [hasHeader]="true" [hasBody]="true">
            <ng-container customCardBody>
              <div class="row">
                <div class="col-md-6">
                  <app-select
                    label="Profession"
                    [options]="professions"
                    [canAddOption]="true"
                    [control]="fatherProfessionControl"
                  ></app-select>
                </div>

                <div class="col-md-6">
                  <app-input
                    label="Cellulaire"
                    type="tel"
                    placeholder="XX XX XX XX"
                    [control]="fatherTelControl"
                    maskFormat="09 09 09 09 09 09 09 09 09 09"
                  >
                  </app-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <app-select
                    label="Employeur de l'assuré"
                    [options]="employers"
                    [canAddOption]="true"
                    [control]="fatherEmployerControl"
                  ></app-select>
                </div>

                <div class="col-md-6">
                  <app-select
                    label="Assureur"
                    [options]="insurances"
                    [canAddOption]="true"
                    [control]="fatherInsuranceControl"
                  ></app-select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <app-input
                    label="Année de naissance"
                    type="number"
                    [control]="fatherBirthYearControl"
                  >
                  </app-input>
                </div>
                <div class="col-md-6">
                  <app-input label="Âge" [control]="fatherAgeControl">
                    <!-- [readOnly]="true" -->
                  </app-input>
                </div>
              </div>
            </ng-container>
          </app-card>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-end">
      <ng-container *ngIf="!isActivePatientAdult">
        <button
          type="button"
          class="btn btn-info btn-label waves-effect waves-light me-2"
          (click)="openSiblingsModal()"
        >
          <i class="ri-team-fill label-icon align-middle fs-16 me-2"></i>
          Fratrie
        </button>

        <button
          type="button"
          class="btn btn-primary btn-label waves-effect waves-light me-2"
          (click)="openCoefficientSocialModal()"
        >
          <i class="ri-hand-coin-fill label-icon align-middle fs-16 me-2"></i>
          Coefficient social
        </button>
      </ng-container>

      <button
        type="button"
        class="btn btn-success btn-label waves-effect waves-light"
        (click)="savePatientInfos()"
      >
        <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>
        Enregistrer
      </button>
    </div>
  </ng-container>

  <!-- FOOTER -->
  <ng-container customCardFooter>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-label waves-effect waves-light text-dark"
        [ngClass]="{
          'btn-secondary': isVisitFormCollapsed,
          'btn-warning': !isVisitFormCollapsed,
          'text-dark': !isVisitFormCollapsed
        }"
        (click)="
          isVisitFormCollapsed = !isVisitFormCollapsed;
          isPatientInfoCollapsed = !isPatientInfoCollapsed
        "
        [attr.aria-expanded]="!isVisitFormCollapsed"
        aria-controls="collapseExample"
      >
        <i
          class="label-icon align-middle fs-16 me-2"
          [ngClass]="{
            'ri-arrow-down-line': isVisitFormCollapsed,
            'ri-close-fill': !isVisitFormCollapsed
          }"
        ></i>
        <span *ngIf="isVisitFormCollapsed; else cancelVisit"
          >Démarrer la consultation</span
        >

        <ng-template #cancelVisit>
          <span> Annuler la consultation </span>
        </ng-template>
      </button>
    </div>
  </ng-container>
</app-card>

<!-- SECOND FORM CARD -->
<app-card *ngIf="!isVisitFormCollapsed" [hasHeader]="true" [hasBody]="true">
  <!-- HEADER -->
  <ng-container customCardHeader>
    <div class="d-flex justify-content-between align-items-end">
      <div class="d-inline-block">
        <h5>Consultation</h5>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-warning btn-label waves-effect waves-light me-2 text-dark"
          (click)="goToPreviousPage()"
        >
          <i
            class="ri-arrow-go-back-fill label-icon align-middle fs-16 me-2"
          ></i>
          Retour
        </button>

        <button
          type="button"
          class="btn btn-info btn-label waves-effect waves-light"
        >
          <i class="ri-information-line label-icon align-middle fs-16 me-2"></i>
          Voir les anciennes consultations
        </button>
      </div>
    </div>
  </ng-container>

  <!-- BODY/CONTENT -->
  <ng-container customCardBody>
    <div class="d-flex justify-content-between mb-3">
      <button class="btn btn-secondary">Détails de l'attente</button>

      <div
        class="d-flex justify-content-between align-items-center border border-dark border-1 px-1"
      >
        <div class="me-5">
          <h5 class="m-0">
            <b>Acte: </b>
            <span class="text-secondary"
              ><b>{{ waitingDetails.visitActs }}</b></span
            >
          </h5>
        </div>
        <div>
          <h5 class="m-0">
            <b>Frais: </b>
            <span class="text-secondary"
              ><b>{{ waitingDetails.visitTotalCost }}</b></span
            >
          </h5>
        </div>
        <div class="ms-5">
          <h5 class="m-0">
            <b>Heure: </b>
            <span class="text-secondary"
              ><b>{{ waitingDetails.visitDate | date : "HH:mm:ss" }}</b></span
            >
          </h5>
        </div>
      </div>

      <button class="btn btn-secondary">Fichiers attachés</button>
    </div>

    <form [formGroup]="patientVisitForm2">
      <!-- FIRST PART -->
      <div class="row">
        <div class="col-md-4">
          <app-input
            type="date"
            label="Date de consultation"
            [control]="visitDateControl"
          ></app-input>
        </div>

        <div class="col-md-4">
          <app-input
            [readOnly]="true"
            label="Médecin consulteur"
            [control]="visitDoctorControl"
          >
          </app-input>
        </div>

        <div class="col-md-4">
          <app-select
            label="Secteur"
            [clearable]="false"
            [options]="sectors"
            [control]="visitSectorControl"
          ></app-select>
        </div>
      </div>

      <hr />

      <!-- SECOND PART -->
      <div class="row">
        <div class="col-md-2">
          <app-input
            type="number"
            label="Poids (kg)"
            [control]="weightControl"
          ></app-input>
        </div>

        <div class="col-md-2">
          <app-input
            type="number"
            label="Taille (cm)"
            [control]="sizeControl"
          ></app-input>
        </div>

        <div class="col-md-1">
          <app-input
            type="number"
            label="PC (cm)"
            [control]="pcControl"
          ></app-input>
        </div>

        <div class="col-md-2">
          <app-input
            type="number"
            label="Température (°C)"
            [control]="temperatureControl"
          ></app-input>
        </div>

        <div class="col-md-1">
          <app-input type="number" label="FR" [control]="frControl"></app-input>
        </div>

        <div class="col-md-2">
          <app-input
            type="number"
            label="Pouls"
            [control]="pulseControl"
          ></app-input>
        </div>

        <div class="col-md-2">
          <app-input
            label="Tension (mmHg)"
            placeholder="___ / ___"
            [control]="tensionControl"
          ></app-input>
          <!-- maskFormat="0 / 0 || 0 / 00 || 00 / 0 || 00 / 00 || 00 / 000 || 000 / 00 || 000 / 000" NOT WORKING -->
        </div>
      </div>

      <hr />

      <!-- THIRD PART -->
      <div class="row">
        <div class="col-md-4" id="actsSelects">
          <div class="row gx-2">
            <!-- <div class="col-md-2 d-flex align-items-center">
              <label class="form-label m-0">Acte</label>
            </div> -->
            <ng-container formArrayName="acts">
              <ng-container
                *ngFor="
                  let act of actsFields.controls.reverse();
                  let i = index;
                  let count = count
                "
              >
                <div class="col-md-10">
                  <app-select
                    [label]="'Acte ' + (count - i)"
                    [options]="acts"
                    [control]="act"
                  ></app-select>
                </div>
                <div class="col-md-2 d-flex align-items-end mb-2">
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                    (click)="addActsField()"
                  >
                    <i class="ri-add-fill fs-20"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                    (click)="
                      count !== 1 ? removeActsField(count - i - 1) : null
                    "
                  >
                    <i class="ri-subtract-fill fs-20"></i>
                  </button>
                </div> </ng-container
            ></ng-container>
          </div>
        </div>

        <div class="col-md-4" id="motifsSelects">
          <div class="row gx-2">
            <!-- <div class="col-md-2 d-flex align-items-center">
              <label class="form-label m-0">Motif</label>
            </div> -->
            <ng-container formArrayName="motifs">
              <ng-container
                *ngFor="
                  let motif of motifsFields.controls.reverse();
                  let i = index;
                  let count = count
                "
              >
                <div class="col-md-10">
                  <div class="col-md-12">
                    <app-select
                      [label]="'Motif ' + (count - i)"
                      [options]="motifs"
                      [isLoading]="motifsAreLoading"
                      [typeahead]="motifsTypeahead$"
                      [control]="motif"
                      bottomMargin="1"
                    ></app-select>
                  </div>
                </div>
                <div class="col-md-2 d-flex align-items-end mb-1">
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                    (click)="addMotifsField()"
                  >
                    <i class="ri-add-fill fs-20"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                    (click)="
                      count !== 1 ? removeMotifsField(count - i - 1) : null
                    "
                  >
                    <i class="ri-subtract-fill fs-20"></i>
                  </button>
                </div>
                <div class="col-md-10 mb-2">
                  <textarea
                    class="form-control form-control-sm"
                    placeholder="Caractères du motif"
                    rows="1"
                  ></textarea>
                  <!-- [formControl]="diseaseHistoryControl" -->
                </div>
              </ng-container></ng-container
            >
          </div>
        </div>

        <div class="col-md-4" id="diagnosticsSelects">
          <div class="row gx-2">
            <!-- <div class="col-md-3 d-flex align-items-center">
              <label class="form-label m-0">Diagnostic</label>
            </div> -->
            <ng-container formArrayName="diagnostics">
              <ng-container
                *ngFor="
                  let diagnostic of diagnosticsFields.controls.reverse();
                  let i = index;
                  let count = count
                "
              >
                <div class="col-md-10">
                  <app-select
                    [label]="'Diagnostic ' + (count - i)"
                    [options]="diagnostics"
                    [isLoading]="diagnosticsAreLoading"
                    [typeahead]="diagnosticsTypeahead$"
                    [control]="diagnostic"
                    bottomMargin="1"
                  ></app-select>
                </div>
                <div class="col-md-2 d-flex align-items-end mb-1">
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light me-1"
                    (click)="addDiagnosticsField()"
                  >
                    <i class="ri-add-fill fs-20"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark btn-icon btn-sm waves-effect waves-light"
                    (click)="
                      count !== 1 ? removeDiagnosticsField(count - i - 1) : null
                    "
                  >
                    <i class="ri-subtract-fill fs-20"></i>
                  </button>
                </div>
                <div class="col-md-10 mb-2">
                  <textarea
                    class="form-control form-control-sm"
                    placeholder="Commentaies du diagnostic"
                    rows="1"
                  ></textarea>
                  <!-- [formControl]="diseaseHistoryControl" -->
                </div>
              </ng-container></ng-container
            >
          </div>
        </div>
      </div>

      <hr />

      <!-- THIRD PART -->
      <div class="row">
        <div class="col-lg-9">
          <div class="col-md-12 mb-2">
            <label for="diseaseHistory" class="form-label custom-form-label-sm">
              Histoire de la maladie
            </label>
            <textarea
              id="diseaseHistory"
              class="form-control form-control-sm"
              rows="2"
              [formControl]="diseaseHistoryControl"
              [ngClass]="{
                'is-invalid':
                  ((diseaseHistoryControl.touched &&
                    diseaseHistoryControl.dirty) ||
                    isFormSubmitted) &&
                  diseaseHistoryControl.errors
              }"
            ></textarea>
          </div>

          <div class="col-md-12 mb-3 mb-lg-0">
            <label for="diseaseHistory" class="form-label custom-form-label-sm">
              Médicaments prescrits
            </label>
            <textarea
              id="diseaseHistory"
              class="form-control form-control-sm"
              rows="2"
              [formControl]="prescribedMedicationControl"
              [ngClass]="{
                'is-invalid':
                  ((prescribedMedicationControl.touched &&
                    prescribedMedicationControl.dirty) ||
                    isFormSubmitted) &&
                  prescribedMedicationControl.errors
              }"
            ></textarea>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-end">
          <div class="row gy-2">
            <div class="col-md-6 d-grid">
              <button
                class="btn btn-outline-secondary"
                (click)="openPrescriberModal()"
              >
                <b>Ordonnancier</b>
              </button>
            </div>
            <div class="col-md-6 d-grid">
              <button
                class="btn btn-outline-success"
                (click)="openAppointmentModal()"
              >
                <b>Rendez-vous</b>
              </button>
            </div>

            <div class="col-md-6 d-grid">
              <button class="btn btn-outline-success"><b>Examens</b></button>
            </div>
            <div class="col-md-6 d-grid">
              <button class="btn btn-outline-secondary" (click)="hospitalise()">
                <b>Hospitaliser</b>
              </button>
            </div>

            <div class="col-md-6 d-grid">
              <button
                type="button"
                class="btn btn-outline-secondary btn-label btn-sm"
                (click)="saveVisitInfos()"
              >
                <i
                  class="ri-save-2-line label-icon align-middle fs-16 me-2"
                ></i>

                Enregistrer et retourner sur la liste d'attente
              </button>
            </div>
            <div class="col-md-6 d-grid">
              <button
                type="button"
                class="btn btn-outline-success btn-label btn-sm"
                (click)="saveVisitInfos()"
              >
                <i
                  class="ri-save-2-fill label-icon align-middle fs-16 me-2"
                ></i>

                Enregistrer et quitter
              </button>
            </div>

            <div class="col-md-6 d-grid">
              <button class="btn btn-outline-success"><b>ATRD</b></button>
            </div>
            <div class="col-md-6 d-grid">
              <button class="btn btn-outline-secondary"><b>M-U</b></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</app-card>
