<div class="col-md-12">
    <h5 class="fw-semibold">Fiche comptable</h5>
</div>
<div class="row mb-4">
    <div class="col-md-8">
        <app-input [placeholder]="'Recherche globale'" [control]="search" (keyup.enter)="filterInAll()">
        </app-input>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100" (click)="filterInAll()">
            Trouver
        </button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-warning w-100" (click)="clearSearch()">
            Effacer
        </button>
    </div>
</div>
<ul class="nav nav-pills arrow-navtabs nav-success bg-light" role="tablist">
    <li *ngFor="let item of tabs; let i = index" class="nav-item">
        <a [class]="'nav-link '+ (i === 0 ? 'active' : '')" data-bs-toggle="tab" [href]="'#arrow-'+item.type"
            role="tab">
            <span class="d-none d-sm-block">{{ item.name }}</span>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content text-muted" hosContextMenu [contextMenuItems]="contextMenuItems" [mandatoryClass]="'t-content'">
    <div *ngFor="let item of tabs; let i = index" [class]="'tab-pane ' + (i === 0 ? 'active' : '')"
        [id]="'arrow-'+item.type" role="tabpanel">
        <app-comptable-table-classic [tableData]="item.data" [typeData]="item.type"></app-comptable-table-classic>
    </div>
</div>

<ng-template #suiviEdition let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Choisissez la quantité</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8">
            <app-input label="Quantité" [isMandatory]="true" [control]="qte" ></app-input>
        </div>
        <div class="col-md-4">
            <div>
                <label>&nbsp;</label>
            </div>
            <button
                    type="button"
                    class="btn btn-primary w-100"
                    (click)="updateSuivi()"
            >
                Appliquer
            </button>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div> -->
  </ng-template>