<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="PATIENTS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Créances</h4>
      </div>
      <!-- end card header -->
      <div class="card-body border-bottom">
        <div class="row">
          <!-- justify-content-center -->
          <div class="col-md-4">
            <app-input
              label="Date de début"
              type="date"
              [maxDate]="today"
              [control]="startDateControl"
            >
            </app-input>
          </div>
          <div class="col-md-4">
            <app-input
              label="Date de fin"
              type="date"
              [maxDate]="today"
              [control]="endDateControl"
            >
            </app-input>
          </div>
        </div>

        <div class="row">
          <!-- justify-content-center -->
          <div class="col-md-4">
            <app-input label="Rechercher" [control]="searchControl">
            </app-input>
          </div>
          <div class="col-md-4">
            <app-select
              label="Critère de recherche"
              [clearable]="false"
              [searchable]="false"
              [options]="criteria"
              [control]="criterionControl"
            ></app-select>
          </div>
        </div>
      </div>

      <div class="card-body">
        <hr />
        <!-- EXPENSE TABLE START -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive table-card">
              <table
                class="table table-hover table-striped table-bordered align-middle mb-0"
              >
                <thead class="table-light text-muted">
                  <tr>
                    <th scope="col">{{ "Date" | uppercase }}</th>
                    <th scope="col">{{ "N° Reçu" | uppercase }}</th>
                    <th scope="col">{{ "Nom" | uppercase }}</th>
                    <th scope="col">{{ "Prénom(s)" | uppercase }}</th>
                    <th scope="col">{{ "Montant" | uppercase }}</th>
                    <th scope="col">{{ "Reste à payer" | uppercase }}</th>
                    <th scope="col">{{ "Acompte" | uppercase }}</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of debtListCut" class="user-select-none">
                    <td>{{ item.date_operation | date : "dd/MM/yyyy" }}</td>
                    <td>{{ item.facture_ref ?? "-" }}</td>
                    <td>{{ item.patient.nom }}</td>
                    <td>{{ item.patient.prenoms }}</td>
                    <td class="text-end">{{ item.montant }}</td>
                    <td class="text-end">{{ 0 }}</td>
                    <td class="text-end">{{ 0 }}</td>

                    <td>
                      <div class="d-inline-block" ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-icon btn-outline-dark waves-effect waves-light arrow-none"
                          ngbDropdownToggle
                        >
                          <i class="ri-more-fill fs-24"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <button
                            ngbDropdownItem
                            (click)="openDebtSettlingModal(item)"
                          >
                            <i
                              class="ri-edit-2-line label-icon align-middle fs-16 me-2 text-warning"
                            ></i>
                            Régler
                          </button>
                          <!-- <button ngbDropdownItem>
                            <i
                              class="ri-delete-bin-2-line label-icon align-middle fs-16 me-2 text-danger"
                            ></i>
                            Supprimer
                          </button> -->
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- EXPENSE TABLE END -->
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshDebts()"
              >
              </ngb-pagination>

              <select
                class="form-select"
                style="width: auto"
                [(ngModel)]="pageSize"
                (ngModelChange)="refreshDebts()"
              >
                <option [ngValue]="10">10 éléments par page</option>
                <option [ngValue]="15">15 éléments par page</option>
                <option [ngValue]="20">20 éléments par page</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
  <!-- end col -->
</div>
