<!-- <div class="modal-header border-bottom border-1 border-dark">
  <h5 class="modal-title">
    {{
      phoneBookInfos ? "Modifier le contact" : "Enregistrer un nouveau contact"
    }}
  </h5>
  <button
    type="button"
    class="btn-close btn-danger"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.close('Close click')"
  ></button>
</div> -->

<app-simple-modal
  [title]="
    phoneBookInfos ? 'Modifier le contact' : 'Enregistrer un nouveau contact'
  "
  [isFullscreenControlDisplayed]="false"
>
  <form [formGroup]="phoneBookForm">
    <div class="row">
      <div class="col-md-6">
        <app-select
          #firstField
          label="Groupe"
          [isMandatory]="true"
          [options]="phoneBookGroups"
          [canAddOption]="true"
          [control]="groupControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
        ></app-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input
          label="Nom / Raison sociale"
          [control]="lastnameControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          [uppercased]="true"
        >
        </app-input>
      </div>
      <div class="col-md-6">
        <app-input
          label="Prénom / Dénomination"
          [control]="firstnameControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          [titlecased]="true"
        >
        </app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input
          label="Profession / Secteur"
          [control]="professionControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
        >
        </app-input>
      </div>
      <div class="col-md-6">
        <app-input
          label="Num Bureau"
          type="tel"
          placeholder="XX XX XX XX"
          [control]="officeTelControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          maskFormat="09 09 09 09 09 09 09 09 09 09"
        >
        </app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input
          label="Cellulaire 1"
          type="tel"
          placeholder="XX XX XX XX"
          [control]="tel1Control"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          maskFormat="09 09 09 09 09 09 09 09 09 09"
        >
        </app-input>
      </div>
      <div class="col-md-6">
        <app-input
          label="Cellulaire 2"
          type="tel"
          placeholder="XX XX XX XX"
          [control]="tel2Control"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          maskFormat="09 09 09 09 09 09 09 09 09 09"
        >
        </app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input
          label="Num Domicile"
          type="tel"
          placeholder="XX XX XX XX"
          [control]="homeTelControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
          maskFormat="09 09 09 09 09 09 09 09 09 09"
        >
        </app-input>
      </div>
      <div class="col-md-6">
        <app-input
          label="Email"
          placeholder="contact@gmail.com"
          [control]="emailControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
        >
        </app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-input
          label="Poste"
          [control]="postControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
        >
        </app-input>
      </div>
      <div class="col-md-6">
        <app-input
          label="BIP"
          type="tel"
          [control]="bipControl"
          [isFormSubmitted]="isPhoneBookFormSubmitted"
        >
        </app-input>
      </div>
    </div>

    <div class="d-flex align-items-start gap-3 mt-2">
      <ng-container *ngIf="!phoneBookInfos; else modifyButton">
        <button
          type="button"
          class="btn btn-secondary btn-label ms-auto"
          (click)="createContact()"
        >
          <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>
          Enregistrer
        </button>
      </ng-container>

      <ng-template #modifyButton>
        <button
          type="button"
          class="btn btn-warning btn-label ms-auto text-dark"
          (click)="modifyContact()"
        >
          <i class="ri-save-2-fill label-icon align-middle fs-16 me-2"></i>
          Enregistrer les modifications
        </button>
      </ng-template>
    </div>
  </form>
</app-simple-modal>

<!-- <div class="modal-body"></div>

<div class="modal-footer py-1 border-top border-1 border-dark">
  <a
    href="javascript:void(0);"
    class="btn btn-link link-success fw-medium shadow-none"
    data-bs-dismiss="modal"
    (click)="modal.close('Close click')"
    ><i class="ri-close-line me-1 align-middle"></i>Fermer</a
  >
</div> -->
